<loading-mask ng-if="vm.loadingInProgress" spinner="true"></loading-mask>
<div class="grid-block text-center vertical">
    <div class="grid-container menubar" ng-if="vm.tasksWithVideo.length === 0">
        <div class="grid-content">
            <div class="">No tasks available!</div>
        </div>
    </div>

    <div class="grid-container">
        <div class="grid-content task-list-table">
            <table ng-if="vm.tasksWithVideo.length > 0">
                <thead>
                <tr>
                    <th>Task</th>
                    <th>Export</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="task in vm.tasksWithVideo track by task.id">
                    <td >
                        <a href="" ui-sref="^.task({taskId: task.id})"
                           ng-class="{'type-object-labeling': task.taskType === 'object-labeling', 'type-meta-labeling': task.taskType === 'meta-labeling'}"
                        >
                            <span class="video-name">{{task.video.name}}</span>
                            <span class="frame-range">{{task.frameRange.startFrameNumber}}-{{task.frameRange.endFrameNumber}}</span>
                        </a>
                    </td>
                    <td class="col-md-2"><a href="" ui-sref="export({taskId: task.id})">Export data</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>