<loading-mask ng-if="vm.loadingInProgress" spinner="true"></loading-mask>
<div class="grid-block text-center vertical">
    <div class="grid-container menubar" ng-if="vm.tasksWithVideo.length === 0">
        <div class="grid-content">
            <div class="">No tasks available!</div>
        </div>
    </div>

    <div class="grid-block">
        <div class="grid-content task-list-table" ng-if="vm.preprocessingTasks != null">
            <h3>Importing</h3>
            <table style="width: 100%;" class="hover table">
                <thead>
                <tr>
                    <th>Task-Type</th>
                    <th>Task-Title</th>
                    <th>Frame-Range</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="task in vm.preprocessingTasks track by task.id">
                    <td>{{task.taskType}}</td>
                    <td>
                        {{task.video.name}}
                    </td>
                    <td>
                        {{task.frameRange.startFrameNumber}}-{{task.frameRange.endFrameNumber}}
                    </td>
                </tr>
                <tr ng-show="!vm.preprocessingTasks.length">
                    <td colspan="3" class="text-center">No tasks</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="grid-content task-list-table" ng-if="vm.waitingTasks != null">
            <h3>Ready to be labeled</h3>
            <table style="width: 100%;" class="hover table">
                <thead>
                <tr>
                    <th>Task-Type</th>
                    <th>Task-Title</th>
                    <th>Frame-Range</th>
                </tr>
                </thead>
                <tbody>
                <tr ui-sref="^.task({taskId: task.id})" ng-repeat="task in vm.waitingTasks track by task.id">
                    <td>{{task.taskType}}</td>
                    <td>
                        {{task.video.name}}
                    </td>
                    <td>
                        {{task.frameRange.startFrameNumber}}-{{task.frameRange.endFrameNumber}}
                    </td>
                </tr>
                <tr ng-show="!vm.waitingTasks.length">
                    <td colspan="3" class="text-center">No tasks</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="grid-content task-list-table" ng-if="vm.labeledTasks != null">
            <h3>Finished</h3>
            <table style="width: 100%;" class="hover table">
                <thead>
                <tr>
                    <th>Task-Type</th>
                    <th>Task-Title</th>
                    <th>Frame-Range</th>
                    <th>Export</th>
                </tr>
                </thead>
                <tbody>
                <tr ui-sref="^.task({taskId: task.id})" ng-repeat="task in vm.labeledTasks track by task.id">
                    <td>{{task.taskType}}</td>
                    <td>
                        {{task.video.name}}
                    </td>
                    <td>
                        {{task.frameRange.startFrameNumber}}-{{task.frameRange.endFrameNumber}}

                    </td>
                    <td><a href="" ui-sref="export({taskId: task.id})">Export data</a>
                    </td>
                </tr>
                <tr ng-show="!vm.labeledTasks.length">
                    <td colspan="4" class="text-center">No tasks</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>