<div class="task-bar grid-block">
    <div class="grid-content small-5 task-bar-left">
        <div class="btn-group">
            <a tabIndex="1"
               uib-popover-template="vm.brightnessSliderTemplate"
               popover-title="Brightness"
               popover-placement="top"
               popover-trigger="focus"
               class="dark button"
            ><i class="icon icon-view-brightness"></i></a>
            <a tabIndex="2"
               uib-popover-template="vm.contrastSliderTemplate"
               popover-title="Contrast"
               popover-trigger="focus"
               popover-placement="top"
               class="dark button"
            ><i class="icon icon-general-settings"></i></a>
        </div>
    </div>
    <div class="grid-container task-bar-middle">
        <ul class="button-group">
            <li>
                <button ng-hide="vm.selectedPaperShape === null"
                        class="dark button"
                        ng-click="vm.handleSetOpenBracketClicked()">
                    <i class="icon icon-selection-start"></i>
                </button>
            </li>
            <li>
                <button ng-hide="vm.selectedPaperShape === null"
                        class="dark button"
                        ng-click="vm.handleGotoOpenBracketClicked()">
                    <i class="icon icon-selection-gostart"></i>
                </button>
            </li>
            <li>
                <button tabIndex="3"
                        class="dark button"
                        ng-click="vm.handlePreviousFrameClicked()">
                    <i class="icon icon-control-previous"></i>
                </button>
            </li>
            <li>
                <button class="dark button"
                        ng-click="vm.handlePlay()"
                        ng-if="!vm.playing && vm.selectedPaperShape !== null"
                >
                    <i class="icon icon-control-play-steps"></i>
                </button>
            </li>
            <li>
                <button class="dark button"
                        ng-click="vm.handlePlay()"
                        ng-if="!vm.playing && vm.selectedPaperShape === null"
                >
                    <i class="icon icon-control-play"></i>
                </button>
            </li>
            <li>
                <button class="dark button"
                        ng-click="vm.handlePause()"
                        ng-if="vm.playing"
                >
                    <i class="icon icon-control-pause"></i>
                </button>
            </li>
            <li>
                <button tabIndex="4"
                        class="dark button"
                        ng-click="vm.handleNextFrameClicked()">
                    <i class="icon icon-control-next"></i>
                </button>
            </li>
            <li>
                <button ng-hide="vm.selectedPaperShape === null"
                        class="dark button"
                        ng-click="vm.handleGotoCloseBracketClicked()">
                    <i class="icon icon-selection-goend"></i>
                </button>
            </li>
            <li>
                <button ng-hide="vm.selectedPaperShape === null"
                        class="dark button"
                        ng-click="vm.handleSetCloseBracketClicked()">
                    <i class="icon icon-selection-end"></i>
                </button>
            </li>
        </ul>

    </div>
    <div class="grid-content small-5 task-bar-right">


        <ul class="button-group">
            <li>
                <button tabIndex="5"
                        class="dark button"
                        name="controls-button-move-tool"
                        ng-click="vm.handleMoveToolClicked()">
                    <i class="icon icon-selection-forwards"></i>
                </button>
            </li>
            <li>
                <button tabIndex="6"
                        class="dark button"
                        name="controls-button-scale-tool"
                        ng-click="vm.handleScaleToolClicked()">
                    <i class="icon icon-selection-off2"></i>
                </button>
            </li>
            <li>
                <button tabIndex="7"
                        class="dark button"
                        ng-click="vm.handleNewLabeledThingClicked()">
                    <i class="icon icon-selection-add"></i>
                </button>
            </li>
            <!--<li>
            <button tabIndex="8"
                    class="dark button"
                    ng-click="vm.handleNewEllipseClicked()">
                Ellipse
            </button>
            </li>
            <li>
            <button tabIndex="9"
                    class="dark button"
                    ng-click="vm.handleNewCircleClicked()">
                Circle
            </button>
            </li>
            <li>
            <button tabIndex="10"
                    class="dark button"
                    ng-click="vm.handleNewPathClicked()">
                Path
            </button>
            </li>
            <li>
            <button tabIndex="11"
                    class="dark button"
                    ng-click="vm.handleNewPolygonClicked()">
                Polygon
            </button>
            </li>
            <li>
            <button tabIndex="12"
                    class="dark button"
                    ng-click="vm.handleNewLineClicked()">
                Line
            </button>
            </li>
            <li>
            <button tabIndex="13"
                    class="dark button"
                    ng-click="vm.handleNewPointClicked()">
                Point
            </button>
            </li>
        </ul>-->
            <ul class="button-group">
                <li>
                    <button ng-hide="vm.selectedPaperShape=== null"
                            class="dark button"
                            ng-click="vm.handleInterpolation()">
                        <i class="icon icon-selection-generate"></i>
                    </button>
                </li>
            </ul>
    </div>
</div>