<div class="task-bar button-bar grid-block">
    </div>
    <div class="grid-content task-bar-center">
        <button ng-hide="vm.selectedPaperShape === null"
                class="button"
                ng-click="vm.handleSetOpenBracketClicked()">
            <i class="icon icon-selection-start"></i>
        </button>

        <button ng-hide="vm.selectedPaperShape === null"
                class="button"
                ng-click="vm.handleGotoOpenBracketClicked()">
            <i class="icon icon-selection-gostart"></i>
        </button>

        <button tabIndex="3"
                class="button"
                ng-click="vm.handlePreviousFrameClicked()">
            <i class="icon icon-control-previous"></i>
        </button>

        <button class="button"
                ng-click="vm.handlePlay()"
                ng-if="!vm.playing && vm.selectedPaperShape !== null"
        >
            <i class="icon icon-control-play-steps"></i>
        </button>

        <button class="button"
                ng-click="vm.handlePlay()"
                ng-if="!vm.playing && vm.selectedPaperShape === null"
        >
            <i class="icon icon-control-play"></i>
        </button>

        <button class="button"
                ng-click="vm.handlePause()"
                ng-if="vm.playing"
        >
            <i class="icon icon-control-pause"></i>
        </button>

        <button tabIndex="4"
                class="button"
                ng-click="vm.handleNextFrameClicked()">
            <i class="icon icon-control-next"></i>
        </button>

        <button ng-hide="vm.selectedPaperShape === null"
                class="button"
                ng-click="vm.handleGotoCloseBracketClicked()">
            <i class="icon icon-selection-goend"></i>
        </button>

        <button ng-hide="vm.selectedPaperShape === null"
                class="button"
                ng-click="vm.handleSetCloseBracketClicked()">
            <i class="icon icon-selection-end"></i>
        </button>

    </div>
    <div class="grid-content small-5 task-bar-right">

        <button tabIndex="5"
                class="button"
                name="controls-button-move-tool"
                ng-click="vm.handleMoveToolClicked()">
            <i class="icon icon-selection-forwards"></i>
        </button>

        <button tabIndex="6"
                class="button"
                name="controls-button-scale-tool"
                ng-click="vm.handleScaleToolClicked()">
            <i class="icon icon-selection-off2"></i>
        </button>

        <button tabIndex="7"
                class="button"
                ng-click="vm.handleNewLabeledThingClicked()">
            <i class="icon icon-selection-add"></i>
        </button>
        </li>
        <!--<li>
        <button tabIndex="8"
                class="button"
                ng-click="vm.handleNewEllipseClicked()">
            Ellipse
        </button>

        <button tabIndex="9"
                class="button"
                ng-click="vm.handleNewCircleClicked()">
            Circle
        </button>

        <button tabIndex="10"
                class="button"
                ng-click="vm.handleNewPathClicked()">
            Path
        </button>

        <button tabIndex="11"
                class="button"
                ng-click="vm.handleNewPolygonClicked()">
            Polygon
        </button>

        <button tabIndex="12"
                class="button"
                ng-click="vm.handleNewLineClicked()">
            Line
        </button>

        <button tabIndex="13"
                class="button"
                ng-click="vm.handleNewPointClicked()">
            Point
        </button>>-->
        <button ng-hide="vm.selectedPaperShape=== null"
                class="button"
                ng-click="vm.handleInterpolation()">
            <i class="icon icon-selection-generate"></i>
        </button>
    </div>
</div>