<div class="task-bar button-bar grid-block">
    <div class="grid-block small-5 task-bar-left">
        <div class="grid-content noscroll">
            <button ng-click="vm.handleVideoSettingsClicked()">
                <i class="icon icon-view-brightness"
                   ng-class="{'toggled': vm.popupPanelState === 'videosettings'}"
                ></i>
            </button>
        </div>
        <div class="grid-content noscroll">
            <button>
                <i class="icon icon-general-settings"></i>
            </button>
        </div>
        <div class="grid-content noscroll">
            <button>
                <i class="icon icon-view-fullscreen"></i>
            </button>
        </div>
        <div class="grid-content noscroll">
            <button>
                <i class="icon icon-bookmark"></i>
            </button>
        </div>
        <div class="grid-content noscroll">
            <button ng-click="vm.handleZoomClicked()">
                <i class="icon icon-view-zoom"
                   ng-class="{'toggled': vm.popupPanelState === 'zoom'}"
                ></i>
            </button>
        </div>
    </div>
    <div class="grid-block task-bar-center">
        <div class="grid-content small-5"></div>

        <div class="grid-content noscroll">
            <button ng-hide="vm.selectedPaperShape === null"
                    class="button"
                    ng-click="vm.handleGotoOpenBracketClicked()">
                <i class="icon icon-selection-gostart"></i>
            </button>
        </div>
        <div class="grid-content noscroll">
            <button ng-hide="vm.selectedPaperShape === null"
                    class="button"
                    ng-click="vm.handleSetOpenBracketClicked()">
                <i class="icon icon-selection-start"></i>
            </button>
        </div>
        <div class="grid-content noscroll">
            <button class="button"
                    ng-click="vm.rewind()">
                <i class="icon icon-control-backwards"></i>
            </button>
        </div>
        <div class="grid-content noscroll">
            <button class="button"
                    ng-click="vm.handlePreviousFrameClicked()">
                <i class="icon icon-control-previous"></i>
            </button>
        </div>
        <div class="grid-content noscroll">
            <button class="button"
                    ng-click="vm.handlePlay()"
                    ng-if="!vm.playing && vm.selectedPaperShape !== null"
            >
                <i class="icon icon-control-play-steps"></i>
            </button>
            <button class="button"
                    ng-click="vm.handlePlay()"
                    ng-if="!vm.playing && vm.selectedPaperShape === null"
            >
                <i class="icon icon-control-play"></i>
            </button>
            <button class="button"
                    ng-click="vm.handlePause()"
                    ng-if="vm.playing"
            >
                <i class="icon icon-control-pause"></i>
            </button>
        </div>
        <div class="grid-content noscroll">
            <button class="button"
                    ng-click="vm.handleNextFrameClicked()">
                <i class="icon icon-control-next"></i>
            </button>
        </div>
        <div class="grid-content noscroll">
            <button class="button"
                    ng-click="vm.fastForward()">
                <i class="icon icon-control-forwards"></i>
            </button>
        </div>
        <div class="grid-content noscroll">
            <button ng-hide="vm.selectedPaperShape === null"
                    class="button"
                    ng-click="vm.handleSetCloseBracketClicked()">
                <i class="icon icon-selection-end"></i>
            </button>
        </div>
        <div class="grid-content noscroll">
            <button ng-hide="vm.selectedPaperShape === null"
                    class="button"
                    ng-click="vm.handleGotoCloseBracketClicked()">
                <i class="icon icon-selection-goend"></i>
            </button>
        </div>

        <div class="grid-content small-5"></div>
    </div>
    <div class="grid-block small-5 task-bar-right">
        <div class="grid-content noscroll" ng-if="vm.task.taskType === 'object-labeling'">
            <button class="button"
                    ng-click="vm.handleNewLabeledThingClicked()">
                <i class="icon icon-selection-add"></i>
            </button>
        </div>
        <div class="grid-content noscroll">
            <button ng-hide="vm.selectedPaperShape === null"
                    class="button"
                    ng-click="vm.handleHideLabeledThingsInFrameToggle()">
                <i class="icon icon-selection-off"
                   ng-class="{'toggled': vm.hideLabeledThingsInFrame}"
                ></i>
            </button>
        </div>
        <!--<li>
        <button class="button"
                ng-click="vm.handleNewEllipseClicked()">
            Ellipse
        </button>

        <button class="button"
                ng-click="vm.handleNewCircleClicked()">
            Circle
        </button>

        <button class="button"
                ng-click="vm.handleNewPathClicked()">
            Path
        </button>

        <button class="button"
                ng-click="vm.handleNewPolygonClicked()">
            Polygon
        </button>

        <button class="button"
                ng-click="vm.handleNewLineClicked()">
            Line
        </button>

        <button class="button"
                ng-click="vm.handleNewPointClicked()">
            Point
        </button>>-->
        <div class="grid-content noscroll">
            <button ng-hide="vm.selectedPaperShape === null"
                    class="button"
                    ng-click="vm.handleInterpolation()">
                <i class="icon icon-selection-generate"></i>
            </button>
        </div>
        <div class="grid-content noscroll">
            <button ng-hide="vm.selectedPaperShape === null"
                    class="button"
                    ng-click="vm.handleDeleteSelectionClicked()">
                <i class="icon icon-selection-delete"></i>
            </button>
        </div>
    </div>
</div>