{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">

            {% if error is defined %}
                <div class="col-md-12">
                    <div class="alert alert-danger" role="alert">{{ error }}</div>
                </div>
            {% endif %}

            {% if taskId is defined %}
                <div class="col-md-12">
                    {% for taskId in taskIds %}
                        <div class="alert alert-info" role="alert">Task angelegt: {{ taskId }}</div>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="col-xs-12 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <form method="post" action="/upload" enctype="multipart/form-data">
                    <h1>Video Hochladen</h1>
                    <div class="form-group">
                        <label for="file">File input</label>
                        <input type="file" id="file" name="file">
                    </div>
                    <div class="form-group checkbox">
                        <label>
                            <input type="checkbox" name="compressed" value="1" />
                            Use compressed images
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Hochladen</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
