{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">

            {% if error is defined %}
                <div class="col-md-12">
                    <div class="alert alert-danger" role="alert">{{ error }}</div>
                </div>
            {% endif %}

            {% if taskId is defined %}
                <div class="col-md-12">
                    {% for taskId in taskIds %}
                        <div class="alert alert-info" role="alert">Task angelegt: {{ taskId }}</div>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <h1>Upload new video</h1>

                <form method="post" action="/upload" enctype="multipart/form-data" class="horizontal-form">
                    <div class="form-group">
                        <label for="file" class="col-xs-3">File input</label>
                        <div class="col-xs-9">
                            <input type="file" id="file" name="file" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="splitLength" class="col-xs-3">Split each</label>
                        <div class="col-xs-9">
                            <input type="number" name="splitLength" value="0" min="0" step="1" style="text-align:right" /> seconds
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="objectLabelingType" class="col-xs-3">Object-Labeling type</label>
                        <div class="col-xs-9">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="object-labeling" value="1" checked/>
                                    Object-Labeling
                                </label>
                                <label>
                                    <input type="checkbox" name="meta-labeling" value="1"/>
                                    Meta-Labeling
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="overflow" class="col-xs-3">Overflow Control</label>
                        <div class="col-xs-9">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="overflow" value="1"/>
                                    Allow shapes to overflow
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="LabelingInstruction" class="col-xs-3">Labeling instruction</label>
                        <div class="col-xs-9">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="vehicle" value="1"/>
                                    Vehicle
                                </label>
                                <label>
                                    <input type="checkbox" name="person" value="1" checked/>
                                    Person
                                </label>
                                <label>
                                    <input type="checkbox" name="cyclist" value="1"/>
                                    Cyclist
                                </label>
                                <label>
                                    <input type="checkbox" name="ignore" value="1"/>
                                    Ignore
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="drawingTool" class="col-xs-3">Drawing Tool</label>
                        <div class="col-xs-9">
                            <select name="drawingTool" class="form-control">
                                <option value="rectangle" selected>Normal Rectangle</option>
                                <option value="pedestrian">Pedestrian (Fixed-Aspect, Center-Line)</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="LabelingInstruction" class="col-xs-3">Pedestrian Drawing Options</label>
                        <div class="col-xs-9">
                            minimal height <input type="number" name="pedestrianMinimalHeight" value="22" min="0" step="1"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-offset-3 col-xs-9">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="lossless" value="1" />
                                    Use lossless compressed images
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-offset-3 col-xs-9">
                            <button type="submit" class="btn btn-primary">Hochladen</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
