<div class="grid-frame vertical">
    <div class="grid-block shrink">
        <div class="grid-content title-bar shrink text-center noscroll">
            <a ui-sref="labeling.tasks"
               tooltip="Back to Task List"
            >
                <i class="icon icon-previous"></i>
            </a>
        </div>
        <div class="grid-block align-center title-bar" style="flex: 1 1 auto;">
            <div class="grid-content text-center">User Details</div>
        </div>
        <div class="grid-content title-bar shrink text-center noscroll">
            <a ui-sref="labeling.user-detail({userid: 'new'})"
               tooltip="Create a new User"
            >
                <i class="icon icon-selection-add"></i>
            </a>
        </div>
    </div>

    <users-list class="grid-block"></users-list>

</div>
