.dockerignore
.env
**/.*
**/LICENSE
**/composer.json
**/*.git*
**/*.idea
**/.htaccess
**/*.log
**/tests
**/Tests
**/vendor/**/docs
**/vendor/**/*.md

labeling-api/app/AnnoStation/cache
!labeling-api/app/AnnoStation/cache/prod
!labeling-api/app/AnnoStation/logs/*

labeling-ui
labeling-video-processing/cache
!labeling-video-processing/cache/prod
labeling-video-processing/var/logs/*
!labeling-ui/Distribution
!labeling-ui/labeling

tmp.yml
