**/.*
**/LICENSE
**/composer.json
#**/*.git*
#**/*.idea
#**/.htaccess
**/*.log
**/tests
**/Tests
**/vendor/**/docs
**/vendor/**/*.md

labeling-ui
labeling-video-processing/cache
!labeling-video-processing/cache/prod
labeling-video-processing/var/logs/*
!labeling-ui/Distribution
!labeling-ui/labeling
