# Custom ignores
node_modules
.vagrant*
npm-debug.log
.DS_Store
*.log
*.mo
*.pot

/packer/*/build/
/packer/*/output/
/packer/*/packer_cache/

/labeling-api/data
/labeling-api/app/cache/
!/labeling-api/app/cache/.gitkeep
/labeling-api/app/config/parameters.yml
/labeling-api/app/config/parameters_test.yml
/labeling-api/app/AnnoStation/bootstrap.php.cache
/labeling-api/app/AnnoStation/config/parameters.yml
/labeling-api/app/AnnoStation/config/parameters_test.yml
/labeling-api/app/AnnoStation/cache/prod/
/labeling-api/app/AnnoStation/logs
/labeling-api/app/logs/
!/labeling-api/app/logs/.gitkeep
/labeling-api/app/phpunit.xml
/labeling-api/bin/
/labeling-api/build/
/labeling-api/composer.phar
/labeling-api/doc/annostation/html/
/labeling-api/vendor/
/labeling-api/web/bundles/
/labeling-api/archive.tar.gz

/labeling-ui/Application/Vendor/
/labeling-ui/Distribution/
/labeling-ui/Logs/
/labeling-ui/Tests/Exports/
/labeling-ui/Resources/icons/.fontcustom-manifest.json

/electron/Chrome/Vendor/
/electron/Distribution/
/electron/Packages/



# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
# Taken from: https://github.com/github/gitignore/blob/master/Global/JetBrains.gitignore

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

# CMake
cmake-build-debug/

# Mongo Explorer plugin:
.idea/**/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
