<div class="grid-block text-center vertical container">

    <h2>Available Exports</h2>
    <div class="grid-container" ng-if="vm.exports.length > 0">
        <div class="grid-content">
            <table class="table hover">
                <thead>
                <tr>
                    <th>Filename</th>
                    <th>Id</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-show="vm.exports.length" ng-repeat="export in vm.exports track by export.id">
                    <td>
                       <a ng-href="{{vm.downloadUrl(export.taskId, export.id)}}">{{export.filename}}</a>
                    </td>
                    <td>
                        <a ng-href="{{vm.downloadUrl(export.taskId, export.id)}}">{{export.id}}</a>
                    </td>
                </tr>
                <tr ng-show="!vm.exports.length"
                    class="no-hover"
                >
                    <td colspan="2" class="no-tasks">No Exports avaialble.</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>