<div class="grid-block text-center vertical">

    <div class="grid-container menubar">
        <div class="grid-content">
            <div ng-if="vm.exports === null">Loading Exports...</div>
            <div ng-if="vm.exports.length === 0">No Exports available!</div>
        </div>
    </div>

    <div class="grid-container" ng-if="vm.exports.length > 0">
        <div class="grid-content task-list-table">
            <table class="table">
                <thead>
                <tr>
                    <th>Filename</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="export in vm.exports">
                    <td>
                        <a href="" ng-href="{{vm.downloadUrl(export.taskId, export.id)}}">
                            {{export.filename}} -{{export.id}}</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>