<div class="grid-block thumbnail-image align-center"
>
    <div class="grid-block vertical shrink align-center">
        <div class="grid-block shrink align-center">
            <div class="center-thumbnail-overlay" ng-if="vm.isCurrent"></div>
            <div class="thumbnail-image-container"></div>
        </div>
    </div>
</div>
<div ng-style="{width: vm.dimensions.width + 'px', height: vm.dimensions.height + 'px'}"
     class="thumbnail-frame-range grid-block align-center"
     ng-mouseover="vm.showFrameNumber = true"
     ng-mouseleave="vm.showFrameNumber = false"
     ng-click="vm.handleThumbnailClick()"
>
    <div class="grid-block vertical shrink align-right">
        <div class="frame-range grid-block shrink"
             ng-hide="(!vm.showFrameNumber && !vm.isCurrent) || vm.location === null"
        >
            <span ng-if="!vm.isCurrent" class="current">{{vm.location.frameIndex | toFrameNumber}}</span>
            <frame-number-input ng-if="vm.isCurrent"
                                ng-model="vm.currentFrameIndex"
            ></frame-number-input>
            <span class="divider" ng-if="vm.isCurrent"></span>
            <span class="endFrameNumber" ng-if="vm.isCurrent">{{vm.frameIndexLimits.upperLimit | toFrameNumber}}</span>
        </div>
    </div>
</div>