<ul class="thumbnail-reel-list">
    <li class="thumbnail-spacer">
        <div ng-if="vm.placeStartBracket(-1)" class="frame-range-bracket start-bracket"></div>
        <div ng-if="vm.placeEndBracket(-1)" class="frame-range-bracket end-bracket"></div>
    </li>
    <li class="thumbnail" ng-repeat-start="thumbnail in vm.thumbnails track by $index"
        ng-class="{'active': vm.thumbnailInFrameRange($index)}"
    >
        <thumbnail end-frame-number="vm.task.frameRange.endFrameNumber"
                   location="thumbnail.location"
                   filters="vm.filters"
                   show-frame-number-always="(vm.thumbnailLocations.length - 1) / $index === 2"
                   labeled-thing-in-frame="thumbnail.labeledThingInFrame"
                   labeled-thing-viewport="{width: vm.video.metaData.width, height: vm.video.metaData.height}"
        ></thumbnail>
    </li>
    <li ng-repeat-end
        class="thumbnail-spacer"
        data-jqyoui-options
        data-drop="true"
        jqyoui-droppable
    >
        <div ng-if="vm.placeStartBracket($index)" class="frame-range-bracket start-bracket"></div>
        <div ng-if="vm.placeEndBracket($index)" class="frame-range-bracket end-bracket"></div>
    </li>
</ul>