<canvas
    ng-mouseover="vm.showFrameNumber = true"
    ng-mouseleave="vm.showFrameNumber = false"
></canvas>
<div class="frame-range" ng-hide="(!vm.showFrameNumber && !vm.isCurrent) || vm.location === null">
    <span ng-if="!vm.isCurrent" class="current">{{vm.location.frameNumber}}</span>
    <input ng-if="vm.isCurrent" ng-model="vm._currentFrameNumber" class="current" type="number" onFocus="this.select()" />
    <span class="divider">/</span>
    <span class="endFrameNumber">{{vm.endFrameNumber}}</span>
</div>

