<div class="thumbnail-reel-list grid-block"
     ng-class="{'read-only': !vm.canPerformModifications()}">
    <loading-mask ng-if="vm.thumbnailsDisabled" spinner="vm.thumbnailsWorking" backdrop="true"></loading-mask>
    <div class="thumbnail-spacer"
         ng-class="{'drop-target': vm.placeBracketSpacer(-1), 'active': vm.thumbnailSpacerInFrameRange(-1)}"
         data-jqyoui-options="{}"
         data-drop="vm.placeBracketSpacer(-1)"
         jqyoui-droppable="{onDrop: 'vm.handleDrop(-1)'}"
    >
        <div ng-if="!(vm.placeStartBracket(-1) || vm.placeEndBracket(-1))" class="frame-range-bracket-space"/>
        <div ng-if="vm.placeStartBracket(-1)" class="frame-range-bracket start-bracket" data-drag="{{vm.canPerformModifications() === true ? 'true' : 'false'}}"
             data-jqyoui-options="{axis: 'x', snap: '.thumbnail-spacer.drop-target', snapMode: 'inner', revert: 'invalid', revertDuration: 200, snapTolerance: 40}"
             jqyoui-draggable="{animate:true}">
            <div class="bracket-drag-handle grid-block vertical align-center shrink">
                <div class="bracket-drag-handle-dot"></div>
                <div class="bracket-drag-handle-dot"></div>
                <div class="bracket-drag-handle-dot"></div>
                <div class="bracket-drag-handle-dot"></div>
            </div>
        </div>
        <div ng-if="vm.placeEndBracket(-1)" class="frame-range-bracket end-bracket" data-drag="{{vm.canPerformModifications() === true ? 'true' : 'false'}}"
             data-jqyoui-options="{axis: 'x', snap: '.thumbnail-spacer.drop-target', snapMode: 'inner', revert: 'invalid', revertDuration: 200, snapTolerance: 40}"
             jqyoui-draggable="{animate:true, onStart: 'vm.onBracketDragStart()', onStop: 'vm.onBracketDragStop()'}">
            <div class="bracket-drag-handle grid-block vertical align-center shrink">
                <div class="bracket-drag-handle-dot"></div>
                <div class="bracket-drag-handle-dot"></div>
                <div class="bracket-drag-handle-dot"></div>
                <div class="bracket-drag-handle-dot"></div>
            </div>
        </div>
    </div>
    <div class="thumbnail grid-block" ng-repeat-start="thumbnail in vm.thumbnails track by $index"
        ng-class="{'active': vm.thumbnailInFrameRange($index)}"
    >
        <thumbnail ng-style="{width: vm.thumbnailDimensions.width + 'px', height: vm.thumbnailDimensions.height + 'px'}"
                   class="grid-block align-center"
                   dimensions="vm.thumbnailDimensions"
                   location="thumbnail.location"
                   filters="vm.filters"
                   video="vm.video"
                   is-current="vm.isCurrentThumbnail($index)"
                   frame-position="vm.framePosition"
                   labeled-thing-in-frame="thumbnail.labeledThingInFrame"
                   labeled-thing-viewport="{width: vm.video.metaData.width, height: vm.video.metaData.height}"
        ></thumbnail>
    </div>
    <div ng-repeat-end
         class="thumbnail-spacer"
         ng-class="{'drop-target': vm.placeBracketSpacer($index), 'active': vm.thumbnailSpacerInFrameRange($index)}"
         data-jqyoui-options="{}"
         data-drop="vm.placeBracketSpacer($index)"
         jqyoui-droppable="{onDrop: 'vm.handleDrop($index)'}"
    >
        <div ng-if="!(vm.placeStartBracket($index) || vm.placeEndBracket($index))" class="frame-range-bracket-space"/>
        <div ng-if="vm.placeStartBracket($index)" class="frame-range-bracket start-bracket grid-block vertical align-center" data-drag="{{vm.canPerformModifications() === true ? 'true' : 'false'}}"
             data-jqyoui-options="{axis: 'x', snap: '.thumbnail-spacer.drop-target', snapMode: 'inner', revert: 'invalid', revertDuration: 200, snapTolerance: 40, handle: '.bracket-drag-handle'}"
             jqyoui-draggable="{animate:true, onStart: 'vm.onBracketDragStart()', onStop: 'vm.onBracketDragStop()'}">
            <div class="bracket-drag-handle grid-block vertical align-center shrink">
                <div class="bracket-drag-handle-dot"></div>
                <div class="bracket-drag-handle-dot"></div>
                <div class="bracket-drag-handle-dot"></div>
                <div class="bracket-drag-handle-dot"></div>
            </div>
        </div>
        <div ng-if="vm.placeEndBracket($index)" class="frame-range-bracket end-bracket grid-block vertical align-center" data-drag="{{vm.canPerformModifications() === true ? 'true' : 'false'}}"
             data-jqyoui-options="{axis: 'x', snap: '.thumbnail-spacer.drop-target', snapMode: 'inner', revert: 'invalid', revertDuration: 200, snapTolerance: 40, handle: '.bracket-drag-handle'}"
             jqyoui-draggable="{animate:true, onStart: 'vm.onBracketDragStart()', onStop: 'vm.onBracketDragStop()'}">
            <div class="bracket-drag-handle grid-block vertical align-center shrink">
                <div class="bracket-drag-handle-dot"></div>
                <div class="bracket-drag-handle-dot"></div>
                <div class="bracket-drag-handle-dot"></div>
                <div class="bracket-drag-handle-dot"></div>
            </div>
        </div>
    </div>
</div>
