<div class="grid-block label-selector vertical">
    <div ng-if="!vm.selectedPaperShape"
         class="grid-block label-selector-placeholder align-center">
    </div>
    <div ng-show="vm.selectedPaperShape"
            class="grid-block label-selector-title">
        <div class="grid-content noscroll">Categories</div>
        <div class="grid-content shrink view-style">
            <input type="checkbox" ng-model="vm.multiSelection">
            <input id="view-style-icon-view"
                   class="icon-view"
                   type="radio"
                   name="view-style"
                   value="icon"
                   ng-model="vm.viewStyle"
            />
            <label for="view-style-icon-view">
                <i class="fa fa-th"></i>
            </label>

            <input id="view-style-list-view"
                   class="list-view"
                   type="radio"
                   name="view-style"
                   value="list"
                   ng-model="vm.viewStyle"
            />
            <label for="view-style-list-view">
                <i class="fa fa-list"></i>
            </label>

            <input id="view-style-selected-only"
                   class="list-view view-style-selected-only"
                   type="radio"
                   name="view-style"
                   value="selectedOnly"
                   ng-model="vm.viewStyle"
            />
            <label for="view-style-selected-only">
                <i class="fa fa-check-square"></i>
            </label>
        </div>
    </div>

    <!--Start accordion View-->
    <v-accordion multiple="vm.multiSelection"
                 class="accordion"
                 ng-show="vm.viewStyle === 'list' && vm.selectedPaperShape"
                 control="vm.accordionControl"
    >
        <v-pane id="{{page.id}}" ng-repeat="page in vm.pages track by page.id">
            <v-pane-header>
                <div class="grid-block noscroll">
                    <div class="title">
                        {{page.challenge}}
                    </div>
                    <div class="icons">
                        <i ng-show="vm.choices[page.id]"
                           class="icon icon-check active">
                        </i>
                        <i ng-show="$pane.isExpanded()"
                           class="icon icon-down">
                        </i>
                        <i ng-hide="$pane.isExpanded()"
                           class="icon icon-left">
                        </i>
                    </div>
                </div>
            </v-pane-header>
            <v-pane-content>
                <ul class="grid-block vertical">
                    <li class="grid-block shrink"
                        ng-repeat="response in page.responses track by response.id">
                        <input id="{{page.id}}-{{$index}}"
                               type="radio"
                               name="{{page.id}}"
                               value="{{response.id}}"
                               ng-model="vm.choices[page.id]"
                               ng-readonly="vm.readOnly"
                               ng-disabled="vm.readOnly"
                               ng-click="vm.handleLabelSelectionClick(page.id)"
                        />
                        <label class="grid-block"
                               for="{{page.id}}-{{$index}}">
                            <i class="grid-content shrink icon icon-small no-hover {{response.iconClass}} noscroll"></i>
                            <span class="grid-content response">{{response.response}}</span>
                        </label>
                    </li>
                </ul>
            </v-pane-content>

        </v-pane>
    </v-accordion>
    <!--End accordion View-->

    <!--Start accordion View-->
    <v-accordion multiple="true"
                 id="accordionControl"
                 class="accordion"
                 ng-show="vm.viewStyle === 'selectedOnly' && vm.selectedPaperShape"
                 control="vm.selectedOnlyAccordionControl"
    >
        <v-pane id="{{page.id}}" ng-repeat="page in vm.pages track by page.id">
            <v-pane-header>
                <div class="grid-block noscroll">
                    <div class="title">
                        {{page.challenge}}
                    </div>
                    <div class="icons">
                        <i ng-show="vm.choices[page.id]"
                           class="icon icon-check active">
                        </i>
                        <i ng-show="$pane.isExpanded()"
                           class="icon icon-down">
                        </i>
                        <i ng-hide="$pane.isExpanded()"
                           class="icon icon-left">
                        </i>
                    </div>
                </div>
            </v-pane-header>
            <v-pane-content>
                <ul class="grid-block vertical">
                    <li class="grid-block shrink"
                        ng-repeat="response in page.responses track by response.id"
                        ng-hide="vm.hideWhenItemIsNotSelected(page, response)"
                    >
                        <input id="accordionControl{{page.id}}-{{$index}}"
                               type="radio"
                               name="accordionControlName{{page.id}}"
                               value="{{response.id}}"
                               ng-model="vm.choices[page.id]"
                               ng-readonly="true"
                               ng-disabled="true"
                        />
                        <label class="grid-block"
                               for="accordionControl{{page.id}}-{{$index}}">
                            <i class="grid-content shrink icon icon-small no-hover {{response.iconClass}} noscroll"></i>
                            <span class="grid-content response">{{response.response}}</span>
                        </label>
                    </li>
                </ul>
            </v-pane-content>
        </v-pane>
    </v-accordion>
    <!--End accordion View-->


    <!--Start icon view-->
    <div class="grid-block vertical " ng-if="vm.selectedPaperShape" ng-show="vm.viewStyle === 'icon'">
        <div class="grid-block label-selector-controlls">
            <div class="grid-content control-left shrink noscroll">
                <button ng-click="vm.previousPage()"><i class="icon icon-left"></i></button>
            </div>
            <div class="grid-block vertical page-header">
                <div class="grid-content page-title text-center noscroll">{{vm.pages[vm.activePageIndex].challenge}}
                </div>
                <div class="grid-content page-indicator-container text-center noscroll">
                    <ol class="page-indicators">
                        <li ng-repeat="page in vm.pages" ng-class="{active: vm.isPageActive($index)}"
                            ng-click="vm.selectPage($index)"></li>
                    </ol>
                </div>
            </div>
            <div class="grid-content control-right shrink noscroll">
                <button ng-click="vm.nextPage()"><i class="icon icon-right"></i></button>
            </div>
        </div>
        <div class="grid-block label-selector-content vertical ">
            <div class="grid-block">
                <div ng-repeat="page in vm.pages" ng-show="vm.isPageActive($index)"
                     class="grid-block label-selector-content-container wrap noscroll">
                    <div ng-repeat="response in page.responses" class="grid-content label-selector-item small-8"
                         ng-class="{selected: vm.isResponseSelected(page, response)}"
                         ng-click="!vm.readOnly && (vm.choices[page.id] = response.id)">
                        <button><i class="icon {{response.iconClass}} noscroll"></i></button>
                        <p>{{response.response}}</p>
                    </div>
                </div>
            </div>
            <div class="grid-block label-selector-content-spacer"></div>
        </div>
    </div>
    <!--End icon view-->

    <!--<div class="grid-block label-selector-button-wrapper" ng-if="vm.labeledObject">-->
    <!--<button class="grid-content label-selector-button text-center noscroll">Cancel</button>-->
    <!--<button class="grid-content label-selector-button text-center noscroll">-->
    <!--Done-->
    <!--</button>-->
    <!--</div>-->
</div>