<div class="label-wizard">
    <uib-carousel template-url="LabelWizard/wizard-carousel.html" no-wrap="true">
        <uib-slide ng-repeat="step in vm.steps" active="step.active">
            <div class="label-wizard-challenge">
                <p>{{step.metadata.challenge}}</p>
                <div class="radio" ng-repeat="choice in step.children">
                    <label>
                        <input type="radio" value="{{choice.name}}" ng-model="vm.labelContext[step.name]">
                        {{choice.metadata.response}}
                    </label>
                </div>
            </div>
        </uib-slide>
    </uib-carousel>
</div>