<div class="label-wizard">
    <uib-carousel template-url="LabelWizard/wizard-carousel.html" no-wrap="true">
        <uib-slide ng-repeat="page in vm.slicedPages" active="vm.activePages[page.id]">
            <div class="label-wizard-challenge">
                <p>{{page.challenge}}</p>
                <div class="radio" ng-repeat="response in page.responses track by $index">
                    <label>
                        <input type="radio" value="{{response.id}}" ng-model="vm.choices[page.id]">
                        {{response.response}}
                    </label>
                </div>
            </div>
        </uib-slide>
    </uib-carousel>
</div>