<div class="grid-frame vertical">
    <div class="grid-block shrink">
        <div class="grid-content" style="padding: 0">
            <div class="title-bar">
                <span class="left shrink"><a tooltip="Back to task overview" ui-sref="labeling.tasks"><i
                        class="icon icon-previous"></i></a></span>
                <div class="center title">User Profile</div>
                <span class="right shrink"></span>
            </div>
        </div>
    </div>

    <div class="grid-container">
        <div class="grid-content">
            <table class="table">
                <tr>
                    <td>Username:</td>
                    <td>{{vm.user.username}}</td>
                </tr>
                <tr>
                    <td>E-Mail:</td>
                    <td>{{vm.user.email}}</td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><a href="" ui-sref="labeling.userpassword">Change password</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>
