<page-title title="Change Password">
    <back-link state-link="labeling.user.profile"
               tooltip="Back to User profile"
    ></back-link>
</page-title>
<div class="page-content">
    <loading-mask ng-if="vm.loadingInProgress" spinner="false"></loading-mask>

    <div ng-if="vm.message" class="grid-container align-center" style="margin: 2rem auto;">
        <div class="grid-container shrink">
            <h4>{{vm.message}}</h4>
        </div>
    </div>
    <div class="grid-block align-center">

        <div class="grid-container small-14">
            <loading-mask ng-if="vm.loadingInProgress" spinner="true" backdrop="false"></loading-mask>

            <form class="user-password grid-content">
                <fieldset>
                    <legend>Set new Password</legend>
                    <label>
                        Old Password
                        <input type="password" placeholder="Old password" ng-model="vm.oldUserPassword">
                    </label>
                    <label>
                        New Password
                        <input type="password" placeholder="New password" ng-model="vm.newUserPassword">
                    </label>
                </fieldset>

                <div class="button-area">
                    <button class="pull-right"
                            ng-click="vm.savePassword()"
                    >
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
