<page-title title="User Profile">
    <back-link state-link="labeling.projects"
               tooltip="Back to Project List"
    ></back-link>
</page-title>

<div class="page-content">
    <table class="table auto-size">
        <tr>
            <td>Username:</td>
            <td>{{vm.user.username}}</td>
        </tr>
        <tr>
            <td>E-Mail:</td>
            <td>{{vm.user.email}}</td>
        </tr>
        <tr>
            <td>Account expires at:</td>
            <td>{{vm.user.expiresAt === null ? 'Never' : (vm.user.expiresAt | date:'d. MMM yyyy')}}</td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><a href="" ui-sref="labeling.user.password">Change password</a></td>
        </tr>
    </table>
</div>
