<div class="grid-frame vertical">
    <title-bar class="grid-block noscroll header"
            back-link="labeling.tasks"
            back-link-text="Back to Task List"
            show-username="true"
            show-logout-button="true"
    >
    </title-bar>

    <div class="grid-container">
        <div class="grid-content">
            <table class="table">
                <tr>
                    <td>Username:</td>
                    <td>{{vm.user.username}}</td>
                </tr>
                <tr>
                    <td>E-Mail:</td>
                    <td>{{vm.user.email}}</td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><a href="" ui-sref="labeling.userpassword">Change password</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>
