<div class="loading-mask-inner">
    <div class="loading-mask-backdrop" ng-if="vm.blockInteraction && vm.backdrop">
    </div>
    <div class="loading-mask-backdrop invisible" ng-if="vm.blockInteraction && !vm.backdrop">
    </div>
    <div class="loading-spinner" ng-if="vm.spinner">
        <div class="spinner-shadow"></div>
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path-background" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
        </svg>
    </div>
    <div class="loading-mask-message" ng-if="vm.message">
        {{vm.message}}
    </div>
</div>
