<viewer-header video="vm.video"
        task="vm.task"
        user="vm.user"
        user-permissions="vm.userPermissions"
        read-only="{{vm.task.readOnly}}"
></viewer-header>
<div split-view
     on-init="vm.onSplitViewInitialized()"
     on-drag="vm.onSidebarResized()"
     gutter-size="10"
     sizes="vm.splitViewSizes"
     min-size="vm.minSizes"
     class="main grid-block noscroll">
    <div class="grid-block sidebar-left vertical noscrollbars" ng-show="vm.popupPanelOpen">
        <loading-mask ng-if="vm.leftSidebarDisabled" backdrop="vm.leftSidebarWorking" block-interaction="true"
                      spinner="vm.leftSidebarWorking"></loading-mask>
        <!--<div class="grid-block vertical noscrollbars">
            <task-description ng-show="vm.currentLabelingInstructions.shortDescription"
                              title="Task Description"
                              heading="vm.currentLabelingInstructions.shortDescription.title"
                              content="vm.currentLabelingInstructions.shortDescription.content"
            ></task-description>

            <task-description ng-show="vm.currentLabelingInstructions.details"
                              title="Labeling FAQ"
                              heading="vm.currentLabelingInstructions.details.title"
                              content="vm.currentLabelingInstructions.details.content"
            ></task-description>
            <div ng-show="!vm.currentLabelingInstructions" class="grid-block task-description-placeholder align-center">
                <h1>Placeholder</h1>
            </div>
        </div>-->
        <div class="grid-block vertical noscrollbars"></div>
        <popup-panel ng-show="vm.popupPanelOpen"
                     popup-panel-open="vm.popupPanelOpen"
                     popup-panel-state="vm.popupPanelState"a
                     brightness-slider-value="vm.brightnessSliderValue"
                     contrast-slider-value="vm.contrastSliderValue"
                     viewer-viewport="vm.viewerViewport"
                     video="vm.video"
                     task="vm.task"
                     frame-position="vm.framePosition"
                     filters="vm.filters"
                     active-tool="vm.activeTool"
        ></popup-panel>
    </div>

    <viewer class="grid-block align-center noscroll"
            labeled-things-in-frame="vm.labeledThingsInFrame"
            selected-paper-shape="vm.selectedPaperShape"
            active-tool="vm.activeTool"
            selected-drawing-tool="vm.selectedDrawingTool"
            task="vm.task"
            video="vm.video"
            frame-position="vm.framePosition"
            filters="vm.filters"
            playing="vm.playing"
            playback-speed-factor="vm.playbackSpeedFactor"
            playback-direction="vm.playbackDirection"
            viewport="vm.viewerViewport"
            hide-labeled-things-in-frame="vm.hideLabeledThingsInFrame"
            new-shape-drawing-tool="vm.newShapeDrawingTool"
            bookmarked-frame-number="vm.bookmarkedFrameNumber"
            fps="vm.fps"
            frame-skip="vm.frameSkip"
    ></viewer>
    <div class="grid-block sidebar-right ">
        <loading-mask ng-if="vm.rightSidebarDisabled" backdrop="vm.rightSidebarWorking" block-interaction="true"
                      spinner="vm.rightSidebarWorking"></loading-mask>
        <label-selector class="grid-block"
                        labeled-object="vm.task.taskType === 'meta-labeling' ? vm.labeledFrame : vm.selectedPaperShape.labeledThingInFrame"
                        structure="vm.labelingStructure"
                        annotation="vm.labelingAnnotation"
                        task="vm.task"
                        frame-position="vm.framePosition"
                        labeling-instructions="vm.currentLabelingInstructions"
        ></label-selector>
    </div>
</div>
<media-controls read-only="{{vm.task.readOnly}}"
                labeled-things-in-frame="vm.labeledThingsInFrame"
                frame-position="vm.framePosition"
                active-tool="vm.activeTool"
                selected-drawing-tool="vm.selectedDrawingTool"
                selected-paper-shape="vm.selectedPaperShape"
                task="vm.task"
                playing="vm.playing"
                playback-speed-factor="vm.playbackSpeedFactor"
                playback-direction="vm.playbackDirection"
                popup-panel-open="vm.popupPanelOpen"
                popup-panel-state="vm.popupPanelState"
                hide-labeled-things-in-frame="vm.hideLabeledThingsInFrame"
                new-shape-drawing-tool="vm.newShapeDrawingTool"
                video="vm.video"
                bookmarked-frame-number="vm.bookmarkedFrameNumber"
                fps-input-visible="vm.fpsInputVisible"
></media-controls>

<div class="thumbnail-zone grid-block">
    <div class="viewer-film-reel-container grid-block">
        <film-reel class="grid-block vertical" frame-position="vm.framePosition"
                   task="vm.task"
                   video="vm.video"
                   filters="vm.filters"
                   selected-paper-shape="vm.selectedPaperShape"
                   playing="vm.playing"
                   freeze-thumbnails="vm.freezeThumbnails"
        ></film-reel>
    </div>
</div>
<div class="timeline-container grid-block">
    <div class="timeline-layer small-3 grid-content">
        <div ng-show="vm.fpsInputVisible">
            <label style="color: white">FPS:
                <input style="width: 30px; color: black;" class="fps-input" ng-model="vm.fps">
            </label><br/>
            <label style="color: white">Skip:
                <input style="width: 30px; color: black;" class="frameskip-input" ng-model="vm.frameSkip">
            </label>
            <label style="color: white">Freeze thumbnails:
                <input type="checkbox" style="width: 30px; color: black;" class="frameskip-input"
                       ng-model="vm.freezeThumbnails">
            </label>
        </div>
    </div>
    <div class="timeline-inner vertical align-center grid-block">
        <h1>Timeline</h1>
    </div>
</div>
