<div class="row">
    <div class="col-md-2">
        <label-summary title="Summary"></label-summary>
    </div>
    <div class="col-md-7">
        <viewer labeled-things-in-frame="vm.labeledThingsInFrame"
                labeled-things="vm.labeledThings"
                active-tool="vm.activeTool"
                task="vm.task"
                frame-position="vm.framePosition"
        ></viewer>
    </div>
    <div class="col-md-3">
        <!--<label-selector></label-selector>-->
    </div>
</div>
<div class="col-md-3"></div>
<div class="col-md-6"></div>
<div class="col-md-3"></div>
