<viewer-title-bar video="vm.video"
                  task="vm.task"
                  user="vm.user"
                  user-permissions="vm.userPermissions"
                  read-only="{{vm.task.readOnly}}"
                  selected-paper-shape="vm.selectedPaperShape"
                  frame-position="vm.framePosition"
                  labeled-things-in-frame="vm.labeledThingsInFrame"
                  thing-layer="vm.thingLayer"
                  hide-labeled-things-in-frame="vm.hideLabeledThingsInFrame"
                  label-instruction="vm.labelInstruction"
></viewer-title-bar>
<div
     on-init="vm.onSplitViewInitialized()"
     on-drag="vm.onSidebarResized()"
     gutter-size="10"
     sizes="vm.splitViewSizes"
     min-size="vm.minSizes"
     class="main grid-block noscroll">
    <!--<div class="grid-block sidebar-left vertical noscrollbars" ng-show="vm.popupPanelOpen">-->
    <!--<div class="grid-block vertical">-->
        <!--<loading-mask ng-if="vm.leftSidebarDisabled" backdrop="vm.leftSidebarWorking" block-interaction="true"-->
                      <!--spinner="vm.leftSidebarWorking"></loading-mask>-->
        <!--&lt;!&ndash;<div class="grid-block vertical noscrollbars">-->
            <!--<task-description ng-show="vm.currentLabelingInstructions.shortDescription"-->
                              <!--title="Task Description"-->
                              <!--heading="vm.currentLabelingInstructions.shortDescription.title"-->
                              <!--content="vm.currentLabelingInstructions.shortDescription.content"-->
            <!--&gt;</task-description>-->

            <!--<task-description ng-show="vm.currentLabelingInstructions.details"-->
                              <!--title="Labeling FAQ"-->
                              <!--heading="vm.currentLabelingInstructions.details.title"-->
                              <!--content="vm.currentLabelingInstructions.details.content"-->
            <!--&gt;</task-description>-->
            <!--<div ng-show="!vm.currentLabelingInstructions" class="grid-block task-description-placeholder align-center">-->
                <!--<h1>Placeholder</h1>-->
            <!--</div>-->
        <!--</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="grid-block vertical noscrollbars"></div>&ndash;&gt;-->
    <!--</div>-->

    <popup-panel ng-show="vm.popupPanelOpen"
                 popup-panel-open="vm.popupPanelOpen"
                 popup-panel-state="vm.popupPanelState"
                 brightness-slider-value="vm.brightnessSliderValue"
                 contrast-slider-value="vm.contrastSliderValue"
                 viewer-viewport="vm.viewerViewport"
                 video="vm.video"
                 task="vm.task"
                 frame-position="vm.framePosition"
                 filters="vm.filters"
                 active-tool="vm.activeTool"
                 freeze-thumbnails="vm.freezeThumbnails"
                 fps="vm.fps"
                 frame-skip="vm.frameSkip"
    ></popup-panel>


    <viewer class="grid-block align-center noscroll"
            labeled-things-in-frame="vm.labeledThingsInFrame"
            selected-paper-shape="vm.selectedPaperShape"
            active-tool="vm.activeTool"
            selected-drawing-tool="vm.selectedDrawingTool"
            task="vm.task"
            video="vm.video"
            frame-position="vm.framePosition"
            filters="vm.filters"
            playing="vm.playing"
            playback-speed-factor="vm.playbackSpeedFactor"
            playback-direction="vm.playbackDirection"
            viewport="vm.viewerViewport"
            hide-labeled-things-in-frame="vm.hideLabeledThingsInFrame"
            new-shape-drawing-tool="vm.newShapeDrawingTool"
            bookmarked-frame-number="vm.bookmarkedFrameNumber"
            fps="vm.fps"
            frame-skip="vm.frameSkip"
            read-only="{{vm.task.readOnly}}"
            thing-layer="vm.thingLayer"
    ></viewer>
    <div class="grid-block small-6 sidebar-right ">
        <loading-mask ng-if="vm.rightSidebarDisabled" backdrop="vm.rightSidebarWorking" block-interaction="true"
                      spinner="vm.rightSidebarWorking"></loading-mask>
        <label-selector class="grid-block"
                        labeled-object="vm.task.taskType === 'meta-labeling' ? vm.labeledFrame : vm.selectedPaperShape.labeledThingInFrame"
                        structure="vm.labelingStructure"
                        annotation="vm.labelingAnnotation"
                        task="vm.task"
                        frame-position="vm.framePosition"
                        labeling-instructions="vm.currentLabelingInstructions"
                        read-only="{{vm.task.readOnly}}"
        ></label-selector>
    </div>
</div>
<media-controls read-only="{{vm.task.readOnly}}"
                labeled-things-in-frame="vm.labeledThingsInFrame"
                frame-position="vm.framePosition"
                active-tool="vm.activeTool"
                selected-drawing-tool="vm.selectedDrawingTool"
                selected-paper-shape="vm.selectedPaperShape"
                task="vm.task"
                playing="vm.playing"
                playback-speed-factor="vm.playbackSpeedFactor"
                playback-direction="vm.playbackDirection"
                popup-panel-open="vm.popupPanelOpen"
                popup-panel-state="vm.popupPanelState"
                hide-labeled-things-in-frame="vm.hideLabeledThingsInFrame"
                new-shape-drawing-tool="vm.newShapeDrawingTool"
                video="vm.video"
                bookmarked-frame-number="vm.bookmarkedFrameNumber"
></media-controls>

<div class="thumbnail-zone grid-block">
    <div class="viewer-film-reel-container grid-block">
        <film-reel class="grid-block vertical" frame-position="vm.framePosition"
                   task="vm.task"
                   video="vm.video"
                   filters="vm.filters"
                   selected-paper-shape="vm.selectedPaperShape"
                   playing="vm.playing"
                   freeze-thumbnails="vm.freezeThumbnails"
                   read-only="{{vm.task.readOnly}}"
        ></film-reel>
    </div>
</div>
<!--<div class="timeline-container grid-block">-->
    <!--<div class="timeline-layer small-3 grid-content">-->
    <!--</div>-->
    <!--<div class="timeline-inner vertical align-center grid-block">-->
        <!--<h1>Timeline</h1>-->
    <!--</div>-->
<!--</div>-->
