<div class="viewer-controls text-center">
    <div class="btn-group">
        <a tabIndex="1"
           uib-popover-template="vm.brightnessSliderTemplate"
           popover-title="Brightness"
           popover-placement="top"
           popover-trigger="focus"
           class="btn btn-default"
        ><i class="fa fa-lightbulb-o"></i></a>
        <a tabIndex="2"
           uib-popover-template="vm.contrastSliderTemplate"
           popover-title="Contrast"
           popover-trigger="focus"
           popover-placement="top"
           class="btn btn-default"
        ><i class="fa fa-adjust"></i></a>
    </div>
    <div class="btn-group">
        <button tabIndex="3"
                class="btn btn-default"
                ng-click="vm.handlePreviousFrameClicked()">
            <i class="fa fa-step-backward"></i>
        </button>
        <button tabIndex="4"
                class="btn btn-default"
                ng-click="vm.handleNextFrameClicked()">
            <i class="fa fa-step-forward"></i>
        </button>
    </div>
    <div class="btn-group">
        <button tabIndex="5"
                class="btn btn-default"
                ng-click="vm.handleNewLabeledThingClicked()">
            <i class="fa fa-plus-square-o"></i>
        </button>
        <button tabIndex="5"
                class="btn btn-default"
                ng-click="vm.handleNewEllipseClicked()">
            Ellipse
        </button>
        <button tabIndex="5"
                class="btn btn-default"
                ng-click="vm.handleNewCircleClicked()">
            Circle
        </button>
        <button tabIndex="5"
                class="btn btn-default"
                ng-click="vm.handleNewPolygonClicked()">
            Polygon
        </button>
        <button tabIndex="5"
                class="btn btn-default"
                ng-click="vm.handleNewLineClicked()">
            Line
        </button>
    </div>
</div>
