<div class="modal-header">
    <div class="modal-title">{{title}}</div>
</div>
<div class="modal-body noscrollbars">
    <h3 class="modal-body-headline">{{headline}}</h3>
    <p class="modal-body-content">{{message}}</p>
    <select ng-model="selection">
        <option ng-repeat="option in selectionData" value="{{option.id}}">{{option.name}}</option>
    </select>
</div>
<div class="modal-footer grid-block">
    <button class="modal-button-cancel grid-content small-12" ng-click="cancelCallback()">{{cancelButtonText}}</button>
    <button class="modal-button-confirm grid-content small-12" ng-click="confirmCallback(selection)" autofocus>{{confirmButtonText}}</button>
</div>
