<div class="grid-block text-center vertical container">

    <h2>Available Project Reports</h2>
    <div class="grid-container">
        <div class="grid-content">
            <table class="table hover">
                <thead>
                <tr>
                    <th></th>
                    <th>Id</th>
                    <th>Creation Date</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-if="vm.reports.length"
                    ng-repeat="report in vm.reports track by report.id"
                    ng-click="vm.openReport(report.id)">
                    <td ng-switch="report.reportStatus">
                        <div ng-switch-when="done">
                            <i class="fa fa-download"></i>
                        </div>
                        <div ng-switch-default>
                            <i class="fa fa-spinner fa-pulse"></i>
                        </div>
                    </td>
                    <td>
                        {{report.id}}
                    </td>
                    <td>
                        {{report.reportCreationDate * 1000 | date: 'yyyy-MM-dd H:mm:ss'}}
                    </td>
                </tr>
                <tr ng-if="!vm.reports.length"
                    class="no-hover"
                >
                    <td colspan="3" class="no-tasks">No Reports avaialble.</td>
                <tr ng-if="!vm.reports.length" class="no-hover">
                    <td colspan="3" class="no-tasks">No Reports available.</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>