<table class="table hover">
    <thead>
    <tr>
        <th></th>
        <th>Date</th>
        <th>Id</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-show="vm.exports.length" ng-repeat="export in vm.exports track by export.id">
        <td ng-switch="export.status">
            <div ng-switch-when="done">
                <a ng-href="{{vm.downloadUrl(export.projectId, export.id)}}"><i class="fa fa-download"></i></a>
                <a ng-if="export.warningMessage != null" ng-click="vm.showWarningModal(export.warningMessage)"
                   tooltip="Some warnings occurred! Click for more details." class="fa fa-exclamation-circle"></a>
            </div>
            <a ng-switch-when="error">
                <i ng-if="export.errorMessage != null" class="fa fa-warning"
                   ng-click="vm.showErrorModal(export.errorMessage)"
                   tooltip="Some errors occurred! Click for more details."></i>
                <i ng-if="export.errorMessage == null" class="fa fa-warning"
                   tooltip="Failed to generate export"></i>
            </a>
            <div ng-switch-default>
                <i class="fa fa-spinner fa-pulse"></i>
            </div>
        </td>
        <td>
            <a ng-if="export.status == 'done'" ng-href="{{vm.downloadUrl(export.projectId, export.id)}}">
                {{export.date ? export.date : 'unknown'}}
            </a>
            <div ng-if="export.status != 'done'">{{export.date ? export.date : 'unknown'}}</div>
        </td>
        <td>
            <a ng-if="export.status == 'done'"
               ng-href="{{vm.downloadUrl(export.projectId, export.id)}}">{{export.id}}</a>
            <div ng-if="export.status != 'done'">{{export.id}}</div>
        </td>
    </tr>
    <tr ng-show="!vm.exports.length" class="no-hover">
        <td colspan="3" class="no-tasks">No Exports available.</td>
    </tr>
    </tbody>
</table>
