<div class="grid-block text-center vertical">
    <div class="grid-container menubar" ng-if="vm.projects.length === 0">
        <div class="grid-content">
            <div class="">No Projects available!</div>
        </div>
    </div>

    <div class="grid-container">
        <div class="grid-content task-list-table">
            <table class="table" ng-if="vm.projects.length > 0">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Tasks count</th>
                    <th>Tasks finished count</th>
                    <th>Tasks finished percentage</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="project in vm.projects">
                    <td ui-sref="labeling.tasks({project: project.id})">
                        {{project.name}}
                    </td>
                    <td>
                        {{project.taskCount}}
                    </td>
                    <td>
                        {{project.taskFinishedCount}}
                    </td>
                    <td>
                        {{project.taskFinishedCount / project.taskCount * 100 | number: 0 }} %
                    </td>
                    <td>
                        <button ui-sref=".export({projectId: project.id})"
                                tooltip="Export the project"
                        >
                            <i class="fa fa-external-link"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>