<div class="grid-block vertical">
    <loading-mask ng-if="vm.loadingInProgress" spinner="true"></loading-mask>
    <table class="table hover"
           pagination-table
           total-rows="vm.totalRows"
           items-per-page="30"
           on-page-update="vm.updatePage(page, itemsPerPage)">

        <!--
             Display proper no projects information
         -->
        <thead ng-if="vm.projects.length == 0">
        <tr>
            <th>Message</th>
        </tr>
        </thead>
        <tbody ng-if="vm.projects.length == 0">

        <tr ng-switch="vm.loadingInProgress">
            <td ng-switch-when="true">Loading projects...</td>
            <td ng-switch-default>There are currently no projects in the selected state.</td>
        </tr>
        </tbody>

        <!--
             Display real information
         -->
        <thead ng-if="vm.projects.length > 0">
        <tr>
            <th ng-repeat="column in vm.columns track by $index">{{column.name}}</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody ng-if="vm.projects.length > 0">
        <tr>
        <tr ng-repeat="project in vm.projects track by project.id" ng-click="vm.openProject(project.id)">
            <td ng-repeat="column in vm.columns track by $index">{{project[column.property]}}</td>
            <td class="action-cell" ng-click="$event.stopPropagation()">
                <button tooltip="Export Project"
                        ng-if="vm.userPermissions.canExportProject"
                        ng-click="vm.exportProject(project.id)"
                >
                    <i class="fa fa-external-link"></i>
                </button>

                <button tooltip="Accept Project and assign to team"
                        ng-if="vm.userPermissions.canAcceptProject && project.status == 'todo'"
                        ng-click="vm.acceptProject(project.id, project.name)"
                >
                    <i class="fa fa-check-square-o"></i>
                </button>

                <button tooltip="Close Project (Move to done)"
                        ng-if="vm.userPermissions.canMoveProjectToDone && project.status == 'in_progress'"
                        ng-click="vm.closeProject(project.id, project.name)"
                >
                    <i class="fa fa-check-square"></i>
                </button>

                <!--
                <button tooltip="Delete Project: {{project.name}}"
                        ng-if="vm.userPermissions.canDeleteProject"
                        ng-click="vm.deleteProject(project.id)"
                >
                    <i class="fa fa-close"></i>
                </button>

                <button tooltip="Reopen Project"
                        ng-if="vm.userPermissions.canReopenProject"
                        ng-click="vm.reopenProject(project.id)"
                >
                    <i class="fa fa-refresh"></i>
                </button>
                -->

                <button tooltip="View Report of Project"
                        ng-if="vm.userPermissions.canReportProject"
                        ng-click="vm.openReport(project.id)"
                >
                    <i class="fa fa-file-o"></i>
                </button>
            </td>
        </tr>
        </tbody>
        <tfoot ng-if="vm.projects.length > 0">
        <tr>
            <td colspan="{{vm.columns.length + 1}}">
                <pagination-controls></pagination-controls>
            </td>
        </tr>
        </tfoot>
    </table>
</div>

