<div class="grid-block vertical">
    <loading-mask ng-if="vm.loadingInProgress" spinner="true"></loading-mask>
    <!--
        Display proper no tasks information
    -->
    <div class="view-list-info-box" ng-if="vm.tasks.length == 0" ng-switch="vm.loadingInProgress">
        <h3 ng-switch-when="true">Loading projects...</h3>
        <h3 ng-switch-default>There are currently no tasks in the selected state.</h3>
    </div>
    <table class="table hover table-background-even-odd view-list-table"
           pagination-table
           storage-identifier="task-list-for-project-{{vm.projectId}}-with-status-{{vm.taskStatus}}-and-phase-{{vm.taskPhase}}"
           total-rows="vm.totalRows"
           items-per-page="100"
           on-page-update="vm.updatePage(page, itemsPerPage)">
        <!--
             Display real information
         -->
        <thead ng-if="vm.tasks.length > 0">
            <tr>
                <th class="action-header" colspan="5">
                    <select class="action-selection" name="actionSelection" id="actionSelection"
                            ng-model="vm.selectedAction" ng-change="vm.doAction()">
                        <option value="defaultSelection" ng-selected="true">Select an action</option>
                        <option value="unassignUsers"
                                ng-if="vm.userPermissions.canChangeUserTaskAssignment && vm.taskStatus !== 'all_phases_done' && vm.taskStatus !== 'todo'">
                            Unassign Users
                        </option>
                        <option value="flagTasks" ng-if="vm.userPermissions.canFlagLabelingTask && vm.taskStatus !== 'todo'">Flag Tasks</option>
                        <option value="moveTasksInOtherPhase"
                                ng-if="vm.userPermissions.canMoveTaskInOtherPhase && vm.taskStatus !== 'in_progress'">
                            Move Tasks
                        </option>
                    </select>
                </th>
            </tr>
            <tr>
                <th>
                    <div class="action-header-checkbox">
                        <input type="checkbox" ng-model="vm.isAllSelected" ng-change="vm.toggleAllSelections()">
                    </div>
                </th>
                <th>Type</th>
                <th>Title</th>
                <th>Range</th>
                <th>Assignee</th>
            </tr>
        </thead>
        <tbody ng-if="vm.tasks.length > 0">
        <tr ng-repeat="task in vm.tasks track by task.id" ng-click="vm.openTask(task.id, user)">
            <td ng-click="$event.stopPropagation()">
                <input type="checkbox" ng-model="vm.selectedTasks[task.id]" ng-change="vm.calculateAllSelectionCheckbox()">
            </td>
            <td>
                <i ng-if="task.labelInstruction === 'vehicle'" class="fa fa-car" tooltip="Vehicle"></i>
                <i ng-if="task.labelInstruction === 'person'" class="fa fa-male" tooltip="Person"></i>
                <i ng-if="task.labelInstruction === 'cyclist'" class="fa fa-bicycle" tooltip="Cyclist"></i>
                <i ng-if="task.labelInstruction === 'ignore'" class="fa fa-eye-slash" tooltip="Ignore"></i>
                <i ng-if="task.labelInstruction === 'ignore-vehicle'" class="fa fa-eye-slash" tooltip="Ignore Vehicle"></i>
                <i ng-if="task.labelInstruction === 'lane'" class="fa fa-long-arrow-up" tooltip="Lane"></i>
                <i ng-if="task.labelInstruction === 'parked-cars'" class="fa fa-ellipsis-v " tooltip="Parked Cars"></i>
                <i ng-if="task.labelInstruction === 'miscellaneous'" class="fa fa-asterisk" tooltip="Miscellaneous"></i>
                <i ng-if="task.labelInstruction === null" class="fa fa-picture-o" tooltip="Meta-Labeling"></i>
                <i ng-if="task.reopen[vm.taskPhase] === true" class="fa fa-retweet" tooltip="Reopened"></i>
                &nbsp;{{task.type}}
            </td>
            <td>{{task.title}} <button class="fa fa-flag" ng-if="task.attentionFlag"></button></td>
            <td>{{task.range}}</td>
            <td ng-if="!task.latestAssignee.locked">{{task.latestAssignee.username}}</td>
            <td ng-if="task.latestAssignee.locked"><i tooltip="This User has been deactivated.">{{task.latestAssignee.username}}</i></td>
        </tr>
        </tbody>
        <tfoot ng-if="vm.tasks.length > 0">
            <tr>
                <td colspan="5">
                    <pagination-controls></pagination-controls>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
