<div class="grid-block vertical">
    <loading-mask ng-if="vm.loadingInProgress" spinner="true"></loading-mask>
    <!--
        Display proper no tasks information
    -->
    <div class="view-list-info-box" ng-if="vm.tasks.length == 0" ng-switch="vm.loadingInProgress">
        <h3 ng-switch-when="true">Loading projects...</h3>
        <h3 ng-switch-default>There are currently no tasks in the selected state.</h3>
    </div>
    <table class="table hover table-background-even-odd view-list-table"
           pagination-table
           total-rows="vm.totalRows"
           items-per-page="100"
           on-page-update="vm.updatePage(page, itemsPerPage)">
        <!--
             Display real information
         -->
        <thead ng-if="vm.tasks.length > 0">
            <tr>
                <th>Type</th>
                <th>Title</th>
                <th>Range</th>
                <th>Assignee</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody ng-if="vm.tasks.length > 0">
        <tr ng-repeat="task in vm.tasks track by task.id" ng-click="vm.openTask(task.id, user)">
            <td>
                <i ng-if="task.labelInstruction === 'vehicle'" class="fa fa-car" tooltip="Vehicle"></i>
                <i ng-if="task.labelInstruction === 'person'" class="fa fa-male" tooltip="Person"></i>
                <i ng-if="task.labelInstruction === 'cyclist'" class="fa fa-bicycle" tooltip="Cyclist"></i>
                <i ng-if="task.labelInstruction === 'ignore'" class="fa fa-eye-slash" tooltip="Ignore"></i>
                <i ng-if="task.labelInstruction === 'ignore-vehicle'" class="fa fa-eye-slash" tooltip="Ignore Vehicle"></i>
                <i ng-if="task.labelInstruction === 'lane'" class="fa fa-long-arrow-up" tooltip="Lane"></i>
                <i ng-if="task.labelInstruction === 'parked-cars'" class="fa fa-ellipsis-v " tooltip="Parked Cars"></i>
                <i ng-if="task.labelInstruction === 'miscellaneous'" class="fa fa-asterisk" tooltip="Miscellaneous"></i>
                <i ng-if="task.labelInstruction === null" class="fa fa-picture-o" tooltip="Meta-Labeling"></i>
                <i ng-if="task.reopen[vm.taskPhase] === true" class="fa fa-retweet" tooltip="Reopened"></i>
                &nbsp;{{task.type}}
            </td>
            <td>{{task.title}}</td>
            <td>{{task.range}}</td>
            <td ng-if="!task.latestAssignee.locked">{{task.latestAssignee.username}}</td>
            <td ng-if="task.latestAssignee.locked"><i tooltip="This User has been deactivated.">{{task.latestAssignee.username}}</i></td>
            <td class="action-cell" ng-click="$event.stopPropagation()">
                <i ng-if="task.labelDataImportInProgress == true"
                   class="fa fa-spin fa-spinner" tooltip="Label-Data Import in progress."></i>
                <button tooltip="Unassign user: {{task.latestAssignee.username}}"
                        ng-if="vm.userPermissions.unassignPermission && task.latestAssignee != null && task.status !== 'done'"
                        ng-click="vm.unassignTask(task.id, task.latestAssignee.id)">
                    <i class="fa fa-close"></i>
                </button>
                <button tooltip="Flag this task"
                        ng-if="vm.userPermissions.canFlagLabelingTask && task.latestAssignee.username === vm.user.username"
                        ng-click="vm.flagTask(task.id)">
                    <i class="fa fa-flag" ng-class="{flagged: task.attentionFlag}"></i>
                </button>
                <button tooltip="Reopen task"
                        ng-if="vm.userPermissions.canReopenTask && task.status === 'done'"
                        ng-click="vm.reopenTask(task.id, vm.taskPhase)">
                    <i class="fa fa-refresh"></i>
                </button>
                <button tooltip="Move task"
                        ng-if="vm.userPermissions.canMoveTaskInOtherPhase && task.latestAssignee === null && task.status !== 'in_progress'"
                        ng-click="vm.moveTask(task.id)">
                    <i class="fa fa-random"></i>
                </button>
            </td>
        </tr>
        </tbody>
        <tfoot ng-if="vm.tasks.length > 0">
            <tr>
                <td colspan="5">
                    <pagination-controls></pagination-controls>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
