<div class="grid-block vertical"
     flow-init="{target: vm.targetPath, testChunks: false}"
     flow-name="vm.$flow"
     flow-complete="vm.uploadComplete()"
     flow-upload-started="vm.uploadStarted()"
     flow-file-error="vm.fileError($file, $message, $flow)"
     flow-file-added="vm.fileAdded($file, $event, $flow)"
     flow-files-added="vm.filesAdded($files, $event, $flow)"
>

    <div class="grid-block shrink upload-content" flow-transfers>
        <loading-mask ng-if="vm.uploadInProgress" spinner="true"></loading-mask>
        <table class="table">
            <tr>
                <td class="upload-content-description">
                    Files to upload
                    <div>
                        Video files <br>
                        3D Information

                    </div>
                </td>
                <td>
                    <div class="drop-area"
                         flow-drop
                         ng-class="class"
                         flow-drag-enter="class='drop-area-active'"
                         flow-drag-leave="class=''"
                         ng-click="vm.uploadFilesFromSystem()"
                    >
                        <h6 ng-style="{opacity : transfers.length == 0 ? '1' : '0.3'}">
                            <i class="fa fa-files-o fa-4x" style=" vertical-align: middle;"></i>
                            paste link,
                            <a href="#">select file</a>
                            or drop files here
                        </h6>
                        <input
                                type="file"
                                flow-btn
                                multiple
                                style="display: none;"
                                id="project-upload-input"
                        />
                        <div class="upload-content-files">
                            <div
                                    ng-repeat="file in transfers"
                                    ng-init="isMouseOver = false"
                                    ng-mouseover="isMouseOver = true"
                                    ng-mouseleave="isMouseOver = false"
                            >
                                <span
                                        ng-style="{
                                    'color': (!file.isUploading() && file.isComplete() && file.hasUploadError()) ? '#DB315B' : '',
                                    'background': isMouseOver ? '#7B8999' : ''  }"
                                >
                                    {{file.name}}
                                </span>
                                <i ng-hide="file.isComplete() || !isMouseOver" ng-click="$event.stopPropagation();file.cancel()" class="fa fa-close"></i>
                                <i class="fa fa-spinner fa-pulse"
                                   ng-style="{display: file.isUploading() ? 'inline-block' : 'none'}">
                                </i>
                                <i class="fa fa-check"
                                   ng-if="!file.isUploading() && file.isComplete() && file.errorMessage.message == undefined">
                                </i>
                                <i class="fa fa-warning"
                                   ng-if="!file.isUploading() && file.isComplete() && file.hasUploadError()"
                                   tooltip="{{file.errorMessage.message}}">
                                </i>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div>
        <div class="button-area"
             style="margin-top: 2em"
        >
            <button class="pull-right"
                    ng-click="vm.$flow.upload()"
            >
                <i class="fa fa-cloud-upload"></i> Upload
            </button>
            <button class="pull-right divider"
                    ng-click="vm.$flow.cancel()"
            >
                <i class="fa fa-close"></i> Clear list
            </button>
        </div>
    </div>
</div>