<div class="grid-block align-center">
    <div class="grid-container small-14">
        <loading-mask ng-if="vm.loadingInProgress" spinner="true" backdrop="false"></loading-mask>

        <form class="user-profile grid-content">
            <fieldset>
                <legend>Information</legend>
                <label>
                    Username
                    <input id="username" type="text" placeholder="Username" ng-model="vm.user.username"
                           ng-class="{error: !vm.validation.username}">
                </label>
                <label>
                    EMail
                    <input id="email" type="email" placeholder="me@example.com" ng-model="vm.user.email"
                           ng-class="{error: !vm.validation.email}">
                </label>
                <label>Role</label>
                <select id="role" ng-model="vm.singleRole" ng-class="{error: !vm.validation.role}">
                    <option value="ROLE_LABELER">Labeler</option>
                    <option value="ROLE_LABEL_COORDINATOR">Label Coordinator</option>
                    <option value="ROLE_CLIENT_COORDINATOR">Client + Label Coordinator</option>
                    <option value="ROLE_CLIENT">Client</option>
                    <option value="ROLE_ADMIN">Administrator</option>
                    <option value="ROLE_OBSERVER">Observer</option>
                    <option value="ROLE_SUPER_ADMIN">SuperAdmin</option>
                </select>
                <label>Expires</label>
                <input type="date" ng-model="vm.user.expiresAt">
            </fieldset>
            <fieldset>
                <legend>Security</legend>
                <label>
                    Password
                    <input id="password" type="password" placeholder="Password" ng-model="vm.newPassword"
                           ng-class="{error: !vm.validation.password}">
                </label>
                <label>
                    Re-enter Password
                    <input id="password-again" type="password" placeholder="Password validation"
                           ng-model="vm.newPasswordValidation" ng-class="{error: !vm.validation.password}">
                </label>
            </fieldset>
            <fieldset ng-if="vm.userPermissions.canAddUserToOrganisation">
                <legend>Organisations</legend>
                <table class="table"
                       style="margin-bottom: 2em;">
                    <thead>
                    <tr>
                        <th>Organisation</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="userOrganisation in vm.userOrganisations">
                        <td>{{userOrganisation.name}}</td>
                        <td class="action-cell">
                            <button tooltip="Remove user {{vm.user.username}} from organisation"
                                    ng-click="vm.removeUserFromOrganisation(userOrganisation)">
                                <i class="fa fa-close"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="grid-block horizontal">
                    <div class="grid-content">
                        <select id="newLabeler"
                                ng-model="vm.organisationToAdd"
                                ng-options="organisation.name for organisation in vm.organisations">
                        </select>
                    </div>
                    <div class="grid-content shrink">
                        <button tooltip="Add user to Organisation"
                                ng-click="vm.addUserToOrganisation(vm.organisationToAdd)">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
            </fieldset>
            <div class="button-area">
                <button class="pull-right"
                        ng-click="vm.saveChanges()"
                >
                    <span ng-if="vm.createMode">Create</span>
                    <span ng-if="!vm.createMode">Save</span>
                </button>
                <button class="pull-right divider"
                        ng-click="vm.cancelEdit()"
                >
                    Cancel
                </button>
                <button ng-hide="vm.createMode"
                        class="pull-left"
                        ng-click="vm.deleteUser(vm.user)"
                >
                    Delete
                </button>
            </div>
        </form>

    </div>
</div>