<div class="grid-block vertical gray-tab-view">
    <loading-mask ng-if="vm.loadingInProgress" spinner="true" backdrop="false"></loading-mask>
    <form class="grid-content user-profile">
        <h2>Create a new user</h2>
        <table class="table formular-table" >
            <tr>
                <td>Username</td>
                <td>
                    <input id="username" type="text" placeholder="Username" ng-model="vm.user.username"
                           ng-class="{error: !vm.validation.username}">
                </td>
            </tr>
            <tr>
                <td>E-Mail</td>
                <td>
                    <input id="email" type="email" placeholder="me@example.com" ng-model="vm.user.email"
                           ng-class="{error: !vm.validation.email}">
                </td>
            </tr>
            <tr>
                <td>Role</td>
                <td>
                    <select id="role" ng-model="vm.singleRole" ng-options="role as role.label for role in vm.availableRoles track by role.id" ng-class="{error: !vm.validation.role}"></select>
                </td>
            </tr>
            <tr>
                <td>Expires</td>
                <td>
                    <input type="date" ng-model="vm.user.expiresAt">
                </td>
            </tr>
            <tr>
                <td>Password</td>
                <td>
                    <input id="password" type="password" placeholder="Password" ng-model="vm.newPassword"
                           ng-class="{error: !vm.validation.password}">
                </td>
            </tr>
            <tr>
                <td>Re-enter Password</td>
                <td>
                    <input id="password-again" type="password" placeholder="Password validation"
                           ng-model="vm.newPasswordValidation" ng-class="{error: !vm.validation.password}">
                </td>
            </tr>
            <tr
                ng-if="vm.userPermissions.canAddUserToAnyOrganisation"
                ng-style="{'border-bottom': !vm.isOrganisationExpand ? '2px solid #D7DDE4' : 'none' }"
            >
                <td>Organisation</td>
                <td>
                   <span class="organisation-tag" ng-repeat="userOrganisation in vm.userOrganisations">
                       {{userOrganisation.name}}
                       <span
                            tooltip="Remove user {{vm.user.username}} from organisation"
                            ng-click="vm.removeUserFromOrganisation(userOrganisation)"
                       >
                            <i class="fa fa-close"></i>
                       </span>
                   </span>
                   <span class="pull-right">
                       <i
                           class="fa"
                           ng-click="vm.isOrganisationExpand = !vm.isOrganisationExpand"
                           ng-class="vm.isOrganisationExpand == true ? 'fa-angle-up' : 'fa-angle-down'"
                           ng-style="{color: vm.isOrganisationExpand == true ? '#BFDB31' : ''} "
                       ></i>
                   </span>
                </td>
            </tr>
            <tr
                class="drop-down-cell"
                ng-repeat="organisation in vm.organisations"
                ng-if="vm.isOrganisationExpand == true && vm.userPermissions.canAddUserToAnyOrganisation"
            >
                <td colspan=2>
                    {{organisation.name}}
                    <span
                          class="pull-right"
                          ng-if="vm.canAddOrganisationToUser(organisation)"
                          ng-class="{error: !vm.validation.organisations}"
                          tooltip="Add user to Organisation"
                          ng-click="vm.addUserToOrganisation(organisation)"
                    >
                        <i class="fa fa-plus"></i>
                    </span>
                </td>
            </tr>
        </table>
        <div class="button-area">
            <button class="pull-right"
                    ng-click="vm.saveChanges()"
            >
                <span ng-if="vm.createMode">Create</span>
                <span ng-if="!vm.createMode">Save</span>
            </button>
            <button class="pull-right divider"
                    ng-click="vm.cancelEdit()"
            >
                Cancel
            </button>
            <button ng-hide="vm.createMode"
                    ng-if="vm.userPermissions.canDeleteUser"
                    class="pull-left"
                    ng-click="vm.deleteUser(vm.user)"
            >
                Delete
            </button>
        </div>
    </form>
</div>