/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/config/parameters_test.yml
/app/AnnoStation/bootstrap.php.cache
/app/AnnoStation/config/parameters.yml
/app/AnnoStation/config/parameters_test.yml
/app/AnnoStation/cache/prod/
/app/AnnoStation/logs
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/build/
/composer.phar
/doc/annostation/html/*
/vendor/
/web/bundles/
/archive.tar.gz
/.idea/
/.vagrantuser
