{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="container">
        <h2>JSON</h2>
        <pre><code id="json" class="json"></code></pre>
        <h2>XML</h2>
        <pre><code class="xml">{{ xml }}</code></pre>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/js/highlight.min.js') }}"></script>
    <script type="text/javascript">
        (function() {

            hljs.tabReplace = '    '; //4 spaces
            hljs.initHighlightingOnLoad();

            obj = JSON.parse('{{ json | escape('js') | raw }}');


            document.getElementById("json").appendChild(document.createTextNode(JSON.stringify(obj, null, 4)));
            hljs.highlightBlock(document.getElementById('json'));

        })();
    </script>
{% endblock %}

{% block stylesheets %}
    <style type="text/css">
        .sf2-template-code {
            display: none;
        }
    </style>
    <link rel="stylesheet" href="{{ asset('bundles/app/css/solarized_light.min.css') }}">
{% endblock %}
