<div class="grid-frame vertical">
    <title-bar class="grid-block noscroll header"
               user="vm.user"
               user-permissions="vm.userPermissions"
               back-link=""
               back-link-text=""
               show-username="true"
               show-logout-button="true"
    >
    </title-bar>
    <div class="grid-block text-center vertical tasks-container">
        <h1>Choose a Project</h1>
        <div class="grid-block" ui-grid="projectGridOptions"></div>
    </div>
</div>