<div class="grid-frame vertical">
    <title-bar class="grid-block noscroll header"
               user="vm.user"
               user-permissions="vm.userPermissions"
               back-link=""
               back-link-text=""
               show-username="true"
               show-logout-button="true"
    >
    </title-bar>
    <div class="grid-block text-center vertical tasks-container">
        <h1>Choose a Project</h1>
        <tab-view>
            <tab title="Todo {{vm.projectTodoCount !== null ? '(' + vm.projectTodoCount + ')' : ''}}">
                <h2>Todo <span ng-hide='vm.projectTodoCount == null'>({{vm.projectTodoCount}})</span></h2>
                <project-list user="vm.user" user-permissions="vm.userPermissions" projectStatus="todo"></project-list>
            </tab>
            <tab title="InProgress {{vm.projectInProgressCount !== null ? '(' + vm.projectInProgressCount + ')' : ''}}">
                <h2>InProgress <span ng-hide='vm.projectInProgressCount == null'>({{vm.projectInProgressCount}})</span></h2>
                <project-list user="vm.user" user-permissions="vm.userPermissions" projectStatus="in_progress"></project-list>
            </tab>
            <tab title="Done {{vm.projectDoneCount !== null ? '(' + vm.projectDoneCount + ')' : ''}}">
                <h2>Done <span ng-hide='vm.projectDoneCount == null'>({{vm.projectDoneCount}})</span></h2>
                <project-list user="vm.user" user-permissions="vm.userPermissions" projectStatus="done"></project-list>
            </tab>
        </tab-view>
    </div>
</div>
