<div class="grid-frame vertical">
    <title-bar class="grid-block noscroll header"
               user="vm.user"
               user-permissions="vm.userPermissions"
               back-link="labeling.projects.list"
               back-link-text="Go to project list"
               show-username="true"
               show-logout-button="true"
    >
    </title-bar>
    <div class="grid-block vertical">
        <loading-mask ng-if="vm.loadingInProgress > 0" spinner="true"></loading-mask>
        <div class="grid-block align-center shrink">
            <h2 style="margin-top: 1em;">Create a new Project</h2>
        </div>
        <tab-view>
            <tab header="New empty project">
                <div class="grid-block align-center">
                    <form class="grid-content">
                        <fieldset>
                            <legend>Project</legend>
                            <input type="text"
                                   placeholder="Name"
                                   ng-model="vm.name"
                                   ng-class="{error: !vm.validation.name}">
                            <input type="text"
                                   placeholder="Description"
                                   ng-model="vm.description">
                        </fieldset>
                        <fieldset>
                            <legend>Project Settings</legend>
                            <label for="review" style="margin-bottom: 1.5em;">
                                <input type="checkbox"
                                       id="review"
                                       ng-model="vm.review">
                                Create Review Job
                            </label>

                            <label for="frameSkip">
                                Frame Skip
                            </label>
                            <input type="number"
                                   id="frameSkip"
                                   value="22"
                                   min="1"
                                   step="1"
                                   ng-model="vm.frameSkip"
                                   ng-class="{error: !vm.validation.frameSkip}"/>

                            <label for="startFrameNumber">
                                Start Frame Number
                            </label>
                            <input type="number"
                                   id="startFrameNumber"
                                   value="22"
                                   min="1"
                                   step="1"
                                   ng-model="vm.startFrameNumber"
                                   ng-class="{error: !vm.validation.startFrameNumber}"/>

                            <label for="splitEach">
                                Split Video
                            </label>
                            <input type="number"
                                   id="splitEach"
                                   value="0"
                                   min="0"
                                   step="1"
                                   ng-model="vm.splitEach"
                                   ng-class="{error: !vm.validation.splitEach}"/>
                        </fieldset>
                        <fieldset>
                            <legend>Label Instruction</legend>
                            <tab-view>
                                <tab header="RequirementsXML">
                                    <div class="grid-block horizontal">
                                        <div class="grid-content">
                                            <select id="requirementsTaskType" ng-model="vm.taskTypeToAdd">
                                                <option value="" disabled selected>Select task type</option>
                                                <option ng-repeat="taskType in vm.taskTypes"
                                                        value="{{taskType.id}}">
                                                    {{taskType.name}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="grid-content">
                                            <select id="requirementsTaskConfig" ng-model="vm.taskConfigToAdd">
                                                <option value="" disabled selected>Select task configuration</option>
                                                <option ng-repeat="taskConfig in vm.requirementsXmlTaskConfigurations"
                                                        value="{{taskConfig.id}}">
                                                    {{taskConfig.name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="button-area">
                                        <button class="pull-right"
                                                ng-click="vm.saveRequirementsXml()"
                                        >
                                            Create
                                        </button>
                                        <button class="pull-right divider"
                                                ng-click="vm.goBack()"
                                        >
                                            Cancel
                                        </button>
                                    </div>
                                </tab>
                                <tab header="Legacy">
                                    <fieldset>
                                        <legend>
                                            Vehicle &nbsp; <input type="checkbox" ng-model="vm.vehicle"/>
                                        </legend>
                                        <select ng-model="vm.drawingToolVehicle">
                                            <option value="cuboid" selected>3D</option>
                                            <option value="rectangle">Rectangle</option>
                                            <option value="pedestrian">Pedestrian (Fixed-Aspect, Center-Line)</option>
                                        </select>
                                    </fieldset>
                                    <fieldset>
                                        <legend>
                                            Ignore Vehicle &nbsp; <input type="checkbox" ng-model="vm.ignoreVehicle"/>
                                        </legend>
                                        <select ng-model="vm.drawingToolIgnoreVehicle">
                                            <option value="cuboid" selected>3D</option>
                                            <option value="rectangle">Rectangle</option>
                                            <option value="pedestrian">Pedestrian (Fixed-Aspect, Center-Line)</option>
                                        </select>
                                    </fieldset>
                                    <fieldset>
                                        <legend>Lane &nbsp; <input type="checkbox" ng-model="vm.lane"/></legend>
                                        <select ng-model="vm.drawingToolLane">
                                            <option value="rectangle">Rectangle</option>
                                        </select>
                                    </fieldset>
                                    <fieldset>
                                        <legend>
                                            Person &nbsp; <input type="checkbox" ng-model="vm.person"/>
                                        </legend>
                                        <select ng-model="vm.drawingToolPerson">
                                            <option value="cuboid" selected>3D</option>
                                            <option value="rectangle">Rectangle</option>
                                            <option value="pedestrian">Pedestrian (Fixed-Aspect, Center-Line)</option>
                                        </select>
                                    </fieldset>
                                    <fieldset>
                                        <legend>
                                            Cyclist &nbsp; <input type="checkbox" ng-model="vm.cyclist"/>
                                        </legend>
                                        <select ng-model="vm.drawingToolCyclist">
                                            <option value="cuboid" selected>3D</option>
                                            <option value="rectangle">Rectangle</option>
                                            <option value="pedestrian">Pedestrian (Fixed-Aspect, Center-Line)</option>
                                        </select>
                                    </fieldset>
                                    <fieldset>
                                        <legend>
                                            Ignore &nbsp; <input type="checkbox" ng-model="vm.ignore"/>
                                        </legend>
                                        <select ng-model="vm.drawingToolIgnore">
                                            <option value="cuboid" selected>3D</option>
                                            <option value="rectangle">Rectangle</option>
                                            <option value="pedestrian">Pedestrian (Fixed-Aspect, Center-Line)</option>
                                        </select>
                                    </fieldset>
                                    <fieldset>
                                        <legend>
                                            Parked Cars &nbsp; <input type="checkbox" ng-model="vm.parkedCars"/>
                                        </legend>
                                        <select ng-model="vm.drawingToolParkedCars">
                                            <option value="cuboid" selected>3D</option>
                                        </select>
                                    </fieldset>
                                    <div class="button-area">
                                        <button class="pull-right"
                                                ng-click="vm.saveLegacy()"
                                        >
                                            Create
                                        </button>
                                        <button class="pull-right divider"
                                                ng-click="vm.goBack()"
                                        >
                                            Cancel
                                        </button>
                                    </div>
                                </tab>
                            </tab-view>
                        </fieldset>
                    </form>
                </div>
            </tab>
            <tab header="Import from files">
                <upload-form
                        upload-path="/organisation/{{vm.currentOrganisationId}}/projectImport/{{vm.getUuid()}}"
                        upload-complete-path="/organisation/{{vm.currentOrganisationId}}/projectImport/{{vm.getUuid()}}/complete"
                        upload-complete-message="Your upload is complete and the task creation process has started. This may take a while. You can check the progress of the job creation for your project in the ToDo Tab. Do you want to go to the project list to view this project?"
                ></upload-form>
            </tab>
        </tab-view>
    </div>
</div>
