<page-title ng-if="vm.userPermissions.canViewSystemQueues" title="Queue Status">
    <back-link state-link="labeling.projects.list"
               tooltip="Go to project list"
    ></back-link>
</page-title>
<div class="page-content">
    <loading-mask ng-if="vm.loadingInProgress" spinner="true"></loading-mask>
    <table ng-if="vm.userPermissions.canViewSystemQueues" class="table hover">
        <thead>
        <tr>
            <th>Queue</th>
            <th># Messages</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                High priority
            </td>
            <td>
                {{vm.queueData['worker.queue.high_prio']}}
            </td>
        </tr>
        <tr>
            <td>
                Normal priority
            </td>
            <td>
                {{vm.queueData['worker.queue.normal_prio']}}
            </td>
        </tr>
        <tr>
            <td>
                Low priority
            </td>
            <td>
                {{vm.queueData['worker.queue.low_prio']}}
            </td>
        </tr>
        <tr>
            <td>
                Deferred Jobs
            </td>
            <td>
                {{vm.queueData['worker.reschedule.30s'] + vm.queueData['worker.reschedule.60s'] +
                vm.queueData['worker.reschedule.300s'] + vm.queueData['worker.reschedule.900s']}}
            </td>
        </tr>
        </tbody>
    </table>
</div>