<div class="grid-frame vertical">
    <title-bar class="grid-block noscroll header"
               user="vm.user"
               user-permissions="vm.userPermissions"
               back-link="labeling.projects.list"
               back-link-text="Back to project list"
               show-username="true"
               show-logout-button="true"
    >
    </title-bar>
    <div class="grid-block text-center vertical">
        <h2>{{vm.project.name}}</h2>
        <tab-view>
            <tab header="Labeling {{vm.taskCount !== null ? '(' + vm.taskCount.labeling.overall + ')' : ''}}"
                 create-on-first-view="true">
                <h2>
                    InProgress <span ng-hide='vm.taskCount == null'>({{vm.taskCount.labeling.in_progress}})</span>
                </h2>
                <task-list task-status="in_progress"
                           project-id="vm.projectId"
                           user="vm.user"
                           user-permissions="vm.userPermissions">
                </task-list>
                <h2>
                    Todo <span ng-hide='vm.taskCount == null'>({{vm.taskCount.labeling.todo}})</span>
                </h2>
                <task-list task-status="todo"
                           project-id="vm.projectId"
                           user="vm.user"
                           user-permissions="vm.userPermissions">
                </task-list>
                <h2>
                    Done <span ng-hide='vm.taskCount == null'>({{vm.taskCount.labeling.done}})</span>
                </h2>
                <task-list task-status="done"
                           project-id="vm.projectId"
                           user="vm.user"
                           user-permissions="vm.userPermissions">
                </task-list>
            </tab>
            <!--
            <tab header="Review {{vm.taskCount !== null ? '(' + vm.taskCount.review.overall + ')' : ''}}"
                 create-on-first-view="true">
                <h2>
                    The concept of Review tasks is not implemented yet
                </h2>
            </tab>
            -->
        </tab-view>
    </div>
</div>
