<div class="grid-frame vertical">
    <title-bar class="grid-block noscroll header"
               user="vm.user"
               user-permissions="vm.userPermissions"
               back-link="labeling.projects.list"
               back-link-text="Back to project list"
               show-username="true"
               show-logout-button="true"
    >
    </title-bar>
    <div class="grid-block text-center vertical">
        <page-title title="Task Configurations"></page-title>
        <div class="grid-block horizontal align-center">
            <div class="grid-content shrink">
                <button ui-sref="labeling.task-configurations.upload"
                        class="grid-block horizontal shrink"
                        style="padding: .7rem 1rem;">
                    <div class="grid-block vertical align-center">
                        <div class="grid-content shrink" style="margin-right: .7rem;">
                            <i class="fa fa-2x fa-plus-circle"></i>
                        </div>
                    </div>
                    <div class="grid-block vertical align-center">
                        <div class="grid-content shrink">Upload new Task Configuration</div>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>
