<div class="grid-frame vertical">
    <title-bar class="grid-block noscroll header"
               user="vm.user"
               user-permissions="vm.userPermissions"
               back-link=""
               back-link-text=""
               show-username="true"
               show-logout-button="true"
    >
    </title-bar>
    <div class="grid-block text-center vertical tasks-container">
        <task-list class="grid-block"
                   project-id="vm.projectId"
                   user="vm.user"
                   user-permissions="vm.userPermissions"
        ></task-list>
    </div>
</div>