<loading-mask ng-if="vm.loadingInProgress > 0" spinner="true"></loading-mask>
<page-title title="Requirements File Upload">
    <back-link state-link="labeling.projects.list"
               tooltip="Back to Project list"
    ></back-link>
</page-title>
<div class="page-content">
    <form style="min-width: 600px;">
        <table class="table formular-table">
            <tr>
                <td>Name</td>
                <td>
                    <input type="text"
                           ng-model="vm.requirementsConfigurationName"
                           placeholder="Reqirements Configuration Name"
                           ng-class="{error: !vm.requirementsConfigurationValidation.name}"/>
                </td>
            </tr>
            <tr>
                <td>XML File</td>
                <td>
                    <input type="file"
                           file-model="vm.requirementsConfigurationFile"
                           ng-class="{error: !vm.requirementsConfigurationValidation.file}"/>
                </td>
            </tr>
        </table>
        <div class="button-area">
            <button class="pull-right"
                    ng-click="vm.uploadRequirementsConfiguration()"
            >
                Upload
            </button>
            <button class="pull-left"
                    ui-sref="labeling.projects.list"
            >
                Cancel
            </button>
        </div>
    </form>
</div>