<div class="grid-frame vertical">
    <title-bar class="grid-block noscroll header"
               user="vm.user"
               user-permissions="vm.userPermissions"
               back-link="labeling.task-configurations.list"
               back-link-text="Back to task configurations"
               show-username="true"
               show-logout-button="true"
    >
    </title-bar>

    <div class="grid-block">
        <div class="grid-block vertical">
            <page-title title="Requirements Configuration Upload"></page-title>
            <div class="grid-block vertical">
                <loading-mask ng-if="vm.loadingInProgress > 0" spinner="true"></loading-mask>
                <form class="grid-content">
                    <table class="table formular-table">
                        <tr>
                            <td>Name</td>
                            <td>
                                <input type="text"
                                       ng-model="vm.requirementsConfigurationName"
                                       placeholder="Reqirements Configuration Name"
                                       ng-class="{error: !vm.requirementsConfigurationValidation.name}"/>
                            </td>
                        </tr>
                        <tr>
                            <td>XML File</td>
                            <td>
                                <input type="file"
                                       file-model="vm.requirementsConfigurationFile"
                                       ng-class="{error: !vm.requirementsConfigurationValidation.file}"/>
                            </td>
                        </tr>
                    </table>
                    <div class="button-area">
                        <button class="pull-right"
                                ng-click="vm.uploadRequirementsConfiguration()"
                        >
                            Upload
                        </button>
                        <button class="pull-left"
                                ui-sref="labeling.task-configurations.list"
                        >
                            Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
