<div class="grid-frame vertical upload-form" flow-prevent-drop>
    <title-bar class="grid-block noscroll header"
               user="vm.user"
               user-permissions="vm.userPermissions"
               back-link="labeling.projects.list"
               back-link-text="Go to project list"
               show-username="true"
               show-logout-button="true"
    >
    </title-bar>

    <upload-form
            class="grid-block"
            project="vm.project"
            upload-path="/organisation/{{vm.organisation.id}}/project/batchUpload/{{vm.project.id}}"
            upload-complete-path="/organisation/{{vm.organisation.id}}/project/batchUpload/{{vm.project.id}}/complete"
            upload-complete-message="Your upload is complete and the task creation process has started. This may take a while. You can check the progress of the job creation for your project in the ToDo Tab. Do you want to go to the project list to view this project?"
            upload-additional-for-text=" for Project: '{{vm.project.name}}'"
    ></upload-form>
</div>