<div flow-prevent-drop>
    <page-title title="File upload for project: '{{vm.project.name}}'">
        <back-link state-link="labeling.projects.list"
                   tooltip="Go to project list"
        ></back-link>
    </page-title>
    <div class="page-content">
        <upload-form
                class="grid-block"
                project="vm.project"
                upload-path="/organisation/{{vm.organisationId}}/project/batchUpload/{{vm.project.id}}"
                upload-complete-path="/organisation/{{vm.organisationId}}/project/batchUpload/{{vm.project.id}}/complete"
                upload-complete-message="Your upload is complete and the task creation process has started. This may take a while. You can check the progress of the job creation for your project in the ToDo Tab. Do you want to go to the project list to view this project?"
        ></upload-form>
    </div>
</div>