<page-title title="Users">
    <back-link state-link="labeling.projects"
               tooltip="Back to Project List"
    ></back-link>
</page-title>
<div class="page-content">
    <tab-view active-index="vm.activeTab">
        <tab header="new" destroy-when-inactive="true">
            <user-profile user-permissions="vm.userPermissions" id="vm.userId" readonly="false"
                          class="grid-block"></user-profile>
        </tab>
        <tab header="manage">
            <users-list user-permissions="vm.userPermissions" class="grid-block"></users-list>
        </tab>
        <tab header="edit" hide="!vm.showEditTap" destroy-when-inactive="true">
            <user-profile user-permissions="vm.userPermissions" id="vm.userId" readonly="false"
                          class="grid-block"></user-profile>
        </tab>
    </tab-view>

</div>
