<div class="grid-frame vertical">
    <title-bar class="grid-block noscroll header"
            user="vm.user"
            user-permissions="vm.userPermissions"
            back-link="labeling.projects"
            back-link-text="Back to Task List"
            show-username="true"
            show-logout-button="true"
    >
        <a class="header-button" ui-sref="labeling.users.detail({userId: 'new'})"
           tooltip="Create a new User"
        >
            Add new User
        </a>

    </title-bar>

    <users-list user-permissions="vm.userPermissions" class="grid-block align-center"></users-list>
</div>
