<div class="grid-block vertical">
    <title-bar class="grid-block noscroll header"
            user="vm.user"
            user-permissions="vm.userPermissions"
            back-link="labeling.projects"
            back-link-text="Back to Task List"
            show-username="true"
            show-logout-button="true"
    >
    </title-bar>
    <div class="grid-block vertical">
        <page-title title="Users"></page-title>
        <div class="grid-block">
            <users-list user-permissions="vm.userPermissions" class="grid-block"></users-list>
        </div>
    </div>

</div>
