imports:
    - resource: security.yml
    - resource: services.yml
    - resource: build_number.yml
    - resource: liip_monitor.yml

# Put parameters here that don't need to change on each machine where the app is deployed
# http://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:
    locale: en
    jms_serializer.cache_naming_strategy.class: AppBundle\Serializer\IdenticalUnlessSpecifiedPropertyNamingStrategy
    doctrine_couchdb.odm.configuration.class: AppBundle\Migration\Configuration
    redirectAfterLogin: /labeling
    worker_pool.queue_prefix: ''

framework:
    #esi:             ~
    translator:      { fallbacks: ["%locale%"] }
    secret:          "%secret%"
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: ~
    form:            ~
    csrf_protection: ~
    validation:      { enable_annotations: true }
    serializer:
        enabled: true
    templating:
        engines: ['twig']
        #assets_version: SomeVersionScheme
    default_locale:  "%locale%"
    trusted_hosts:   ~
    trusted_proxies: ~
    session:         ~
    fragments:       ~
    http_method_override: true

# Twig Configuration
twig:
    debug:            "%kernel.debug%"
    strict_variables: "%kernel.debug%"
    exception_controller:  annostation.labeling_api.controller.custom_exception:showAction

# Doctrine Configuration
doctrine:
    dbal:
        driver:   pdo_mysql
        host:     "%database_host%"
        port:     "%database_port%"
        dbname:   "%database_name%"
        user:     "%database_user%"
        password: "%database_password%"
        charset:  UTF8
        # if using pdo_sqlite as your database driver:
        #   1. add the path in parameters.yml
        #     e.g. database_path: "%kernel.root_dir%/data/data.db3"
        #   2. Uncomment database_path in parameters.yml.dist
        #   3. Uncomment next line:
        #     path:     "%database_path%"

    orm:
        auto_generate_proxy_classes: "%kernel.debug%"
        entity_managers:
            default:
                connection: ~
                mappings:
                    AppBundle:
                        type: annotation
                        is_bundle: true
                        mapping: true
                        prefix: "AppBundle\\Model"
                        dir: "Model"

# Swiftmailer Configuration
swiftmailer:
    transport: "%mailer_transport%"
    host:      "%mailer_host%"
    username:  "%mailer_user%"
    password:  "%mailer_password%"
    spool:     { type: memory }

fos_user:
    db_driver: couchdb # other valid values are 'mongodb', 'couchdb' and 'propel'
    firewall_name: main
    user_class: AppBundle\Model\User

doctrine_couch_db:
    client:
        dbname: "%database_name%"
        host: "%couchdb_host%"
        port: "%couchdb_port%"
        user: "%couchdb_user%"
        password: "%couchdb_password%"
    odm:
        document_managers:
            default:
                connection: ~
                auto_mapping: true
                all_or_nothing_flush: false
                mappings:
                    AppBundle:
                        type: annotation
                        is_bundle: true
                        mapping: true
                        prefix: "AppBundle\\Model"
                        dir: "Model"

fos_rest:
    body_listener:
        decoders:
            json: annostation.labeling_api.helper.decoder.json
            xml: fos_rest.decoder.xml
    format_listener:
        enabled: true
        rules:
          - { path: '^/', priorities: ['json', 'html'], fallback_format: json, prefer_extension: true}
    serializer:
        serialize_null: true
    routing_loader:
        default_format: json
        include_format: true

snc_redis:
    clients:
        default:
            type: predis
            alias: default
            dsn: redis://%redis_host%:%redis_port%
    session:
        client: default
        locking: false
