<div class="grid-frame vertical">
    <div class="grid-block shrink">
        <div class="grid-content" style="padding: 0">
            <div class="title-bar">
                <span class="left"><a tooltip="Back to task overview" ui-sref="labeling.tasks"><i class="icon icon-previous"></i></a></span>
                <div class="center title">Task Statistics</div>
                <span class="right"></span>
            </div>
        </div>
    </div>

    <statistics-list task-statistics="vm.taskStatistics" class="grid-block"/>

</div>