<div class="popup-panel">
    <div ng-show="vm.popupPanelState=='videosettings'" class="grid-block settings vertical">
        <div class="grid-block align-center">
            <div class="grid-content small-14 noscroll text-uppercase">Brightness
                <small ng-click="vm.brightnessSliderValue = 0" style="cursor: not-allowed;">
                    ({{vm.brightnessSliderValue}})
                </small>
            </div>
            <div class="grid-content small-10 text-right noscroll">
                <input ng-model="vm.brightnessSliderValue"
                       type="range"
                       min="-150"
                       max="150"
                       defaultValue="0"
                       step="1">
            </div>
        </div>
        <div class="grid-block align-center">
            <div class="grid-content small-14 noscroll text-uppercase">Contrast
                <small ng-click="vm.contrastSliderValue = 0" style="cursor: not-allowed;">({{vm.contrastSliderValue}})
                </small>
            </div>
            <div class="grid-content small-10 text-right noscroll">
                <input ng-model="vm.contrastSliderValue"
                       type="range"
                       min="-255"
                       max="255"
                       defaultValue="0"
                       step="1">
            </div>
        </div>
    </div>

    <div ng-show="vm.popupPanelState=='zoom'" class="grid-block zoom align-justify">
        <div class="grid-block align-center minimap-container">
            <div class="grid-block align-center shrink vertical">
                <div class="grid-block align-center shrink">
                    <canvas class="minimap"></canvas>
                </div>
            </div>
        </div>
        <div class="grid-block shrink vertical zoom-controls">
            <div class="grid-block">
                <button ng-click="vm.zoomInToggle()"
                        tooltip-position="right" tooltip="Toggle zoom-in">
                    <i class="icon icon-view-zoom-in"
                       ng-class="{'toggled': vm.activeTool === 'zoomIn'}"
                    ></i>
                </button>
            </div>
            <div class="grid-block">
                <button ng-click="vm.zoomOutToggle()"
                        tooltip-position="right" tooltip="Toggle zoom-out">
                    <i class="icon icon-view-zoom-out"
                       ng-class="{'toggled': vm.activeTool === 'zoomOut'}"
                    ></i>
                </button>
            </div>
            <div class="grid-block">
                <button ng-click="vm.scaleToFit()"
                        tooltip-position="right" tooltip="Zoom to fit">
                    <i class="icon icon-view-zoom-resize"></i>
                </button>
            </div>
        </div>
    </div>

    <div ng-show="vm.popupPanelState=='settings'" class="grid-block settings vertical">
        <div class="grid-block align-center">
            <label style="color: white">FPS:
                <input style="width: 30px; color: black;" class="fps-input" ng-model="vm.fps">
            </label><br/>
            <label style="color: white">Skip:
                <input style="width: 30px; color: black;" class="frameskip-input" ng-model="vm.frameSkip">
            </label>
            <label style="color: white">Freeze thumbnails:
                <input type="checkbox" style="width: 30px; color: black;" class="frameskip-input"
                       ng-model="vm.freezeThumbnails">
            </label>
        </div>
    </div>

    <div ng-show="vm.popupPanelState == 'inbox'" class="grid-block settings vertical popup-inbox">
        <p class="selected-shape" ng-show="vm.selectedObjects.length === 0">No shapes selected</p>
        <p class="selected-shape" ng-repeat="selectedObject in vm.selectedObjects track by selectedObject.shape.id">
            <i class="icon icon-tool-{{selectedObject.labelStructureObject.shape}}"></i>
            {{ selectedObject.label }}
        </p>
    </div>
</div>
