<div class="tool-selector grid-block vertical">
    <h1 ng-if="vm.things.length > 0"><i class="fa fa-pencil"></i></h1>
    <button ng-repeat="thing in vm.drawableThings"
            class="tool-button tool-{{$index}}"
            ng-class="{'active': thing.id === vm.selectedLabelStructureThing.id}"
            ng-click="vm.setCurrentThing(thing)"
            tooltip="{{thing.name}}"
    >
        <i class="icon icon-tool-{{thing.shape}}"></i>
    </button>
    <h1 ng-if="vm.drawableGroups.length > 0"><i class="fa fa-object-group"></i></h1>
    <button ng-repeat="group in vm.drawableGroups"
            class="tool-button tool-group tool-{{$index}}"
            ng-class="{'active': group.id === vm.selectedLabelStructureThing.id}"
            ng-click="vm.setCurrentThing(group)"
            tooltip="{{group.name}}"
    >
        <i class="icon icon-tool-{{group.shape}}"></i>
    </button>
</div>