<div class="tool-selector grid-block vertical">
    <h1 ng-if="vm.drawableRequirementFrames.length > 0"><i class="fa fa-picture-o"></i></h1>
    <button ng-repeat="frame in vm.drawableRequirementFrames"
            class="tool-button tool-frame tool-{{$index}} tool-{{frame.shape}}"
            ng-class="{'active': frame.id === vm.selectedLabelStructureObject.id}"
            ng-click="vm.setCurrentLabelStructureObject(frame)"
            tooltip="{{frame.name}}"
    >
        <i class="icon icon-tool-{{frame.shape}}"></i>
    </button>
    <h1 ng-if="vm.drawableThings.length > 0"><i class="fa fa-pencil"></i></h1>
    <button ng-repeat="thing in vm.drawableThings"
            class="tool-button tool-thing tool-{{$index}} tool-{{thing.shape}}"
            ng-class="{'active': thing.id === vm.selectedLabelStructureObject.id}"
            ng-click="vm.setCurrentLabelStructureObject(thing)"
            tooltip="{{thing.name}}"
    >
        <i class="icon icon-tool-{{thing.shape}}"></i>
    </button>
    <h1 ng-if="vm.drawableGroups.length > 0"><i class="fa fa-object-group"></i></h1>
    <button
            class="tool-button tool-group tool-0 tool-{{vm.firstDrawableGroup.shape}}"
            ng-class="{'active': vm.isDrawableGroup(vm.selectedLabelStructureObject.id)}"
            ng-click="vm.setCurrentLabelStructureObject(vm.firstDrawableGroup)"
            tooltip="Create shape group"
    >
        <i class="icon icon-tool-{{vm.firstDrawableGroup.shape}}"></i>
    </button>
    <h1><i class="fa fa-th-large"></i></h1>
    <button ng-repeat="tool in vm.additionalTools"
            class="tool-button tool-additional-tools tool-{{$index}} tool-{{tool.shape}}"
            ng-class="{'active': tool.id === vm.selectedLabelStructureObject.id}"
            ng-click="vm.setCurrentLabelStructureObject(tool)"
            tooltip="{{tool.name}}"
    >
        <i class="icon icon-tool-{{tool.shape}}"></i>
    </button>
</div>