<page-title title="Please select an Organisation"></page-title>
<div class="page-content">
    <table class="table hover table-background-even-odd view-list-table ">
        <thead>
        <tr>
            <th>Organisation</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="organisation in vm.organisationsOfCurrentUser">
            <td ui-sref="labeling.projects.list({organisationId: organisation.id})">{{organisation.name}}</td>
        </tr>
        </tbody>
    </table>
</div>
