---
- name: run puppet on jenkins slaves and staging
  gather_facts: no
  hosts: all
  become: yes

  vars_prompt:
      - name: "continue"
        prompt: "Are you sure? (type uppercase 'YES' to continue)"
        private: no

  tasks:
      - name: "Abort if unconfirmed"
        fail:
        when: continue != "YES"

      - name: copy puppet files
        synchronize:
            src: ../../puppet/
            dest: /tmp/puppet/
            archive: yes
            compress: yes
            use_ssh_args: yes

      - name: run puppet
        shell: >
            FACTER_annostation_project={{ annostation_project | default('') }}
            /opt/puppetlabs/bin/puppet apply
            --modulepath puppet/modules:puppet/vendor:/etc/puppet/modules
            --hiera_config=puppet/hiera/hiera.yaml
            --environmentpath puppet/environments/
            --environment {{ puppet_environment | default('staging') }}
            puppet/environments/{{ puppet_environment | default('staging') }}/manifests/site.pp
        args:
            chdir: /tmp
