<div class="grid-block text-center vertical">
    <div class="grid-container menubar" ng-if="vm.taskStatistics.length === 0">
        <div class="grid-content">
            <div class="">No tasks available!</div>
        </div>
    </div>

    <div class="grid-container">
        <div class="grid-content task-list-table">
            <table class="hover table" ng-if="vm.taskStatistics.length > 0">
                <thead>
                <tr>
                    <th>Type</th>
                    <th>Status</th>
                    <th>Task</th>
                    <th>Framerange</th>
                    <th>Objects</th>
                    <th>Time</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="stats in vm.taskStatistics track by stats.task.id"
                    ui-sref="^.task({taskId: stats.task.id})">
                    <td>
                        {{stats.task.taskType}}
                    </td>
                    <td>
                        {{stats.task.status}}
                    </td>
                    <td>
                        {{stats.video.name}}
                    </td>
                    <td>
                        {{stats.task.metaData.frameRange.startFrameNumber}}-{{stats.task.metaData.frameRange.endFrameNumber}}
                    </td>
                    <td>
                        {{stats.totalNumberOfLabeledThings}}
                    </td>
                    <td>
                        <span>{{stats.timeSpent.hours}}h </span><span>{{stats.timeSpent.minutes}}m</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>