<div class="grid-block text-center vertical">
    <div class="grid-container menubar" ng-if="vm.taskStatistics.length === 0">
        <div class="grid-content">
            <div class="">No tasks available!</div>
        </div>
    </div>

    <div class="grid-container">
        <div class="grid-content task-list-table">
            <table ng-if="vm.taskStatistics.length > 0">
                <thead>
                <tr>
                    <th>Task</th>
                    <th>Objects</th>
                    <th>Time</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="taskStatistic in vm.taskStatistics track by taskStatistic.taskId">
                    <td>
                        <a href="" ui-sref="^.task({taskId: taskStatistic.taskId})"><span>{{taskStatistic.taskId}}</span></a>
                    </td>
                    <td>
                        {{taskStatistic.numberOfLabeledThings}}
                    </td>
                    <td>
                        <span>{{taskStatistic.timeSpent.hours}}h </span><span>{{taskStatistic.timeSpent.minutes}}m </span><span>{{taskStatistic.timeSpent.seconds}}s</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>