.accordion {
  @include grid-block(
          $orientation: vertical
  );
}

v-pane {
  @include grid-block(
          $size: shrink,
          $orientation: vertical
  )
}

v-pane-header {
  @include grid-block();
  border-bottom: 2px solid $color-ut-darkgrey-1;
  overflow: hidden;

  .title {
    @include grid-content();
    text-transform: uppercase;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: bold;
  }

  .icons{
    @include grid-content(
      $size: shrink
    );
  }

}