.slider-container {
  width: 200px;
  height: 32px;
  display: block;

  .angular-range-slider {
    display: inline-block;
    position: relative;
    height: 10px;
    width: 100%;
    vertical-align: middle;
  }

  .angular-range-slider div {
    white-space: nowrap;
    position: absolute;
  }

  .angular-range-slider div.bar {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    border: 1px solid #ddd;
    background: #f5f5f5;
    overflow: hidden;
  }

  .angular-range-slider div.bar .selection {
    width: 0;
    height: 100%;
    background: #cdcdcd;
  }

  .angular-range-slider div.handle {
    cursor: pointer;
    width: 8px;
    height: 18px;
    top: -4px;
    background-color: #777777;
    border-radius: 2px;
    z-index: 2;
  }

  .angular-range-slider div.handle.active {
    background-color: #585858;
  }

  .angular-range-slider div.bubble {
    display: none;
    cursor: default;
    top: -32px;
    font-size: 0.7em;
    font-family: sans-serif;
    background: #777777;
    color: $color-white;
    padding: 4px;
    border-radius: 3px;
  }

  .angular-range-slider div.bubble.active {
    display: inline-block;
  }

  .angular-range-slider div.bubble.limit {
    color: #777;
  }
}