.badge-container {
  position: relative;
  overflow: visible;

  .badge {
    position: absolute;
    left: 15px;
    top: 2px;
    background-color: $color-darkred-1;
    border-radius: 50%;
    font-size: 0.8rem;
    padding: 2px 4px;
  }
}