button {
  background-color: transparent;
  color: $color-ut-midgrey-3;
  font-weight: normal;
  font-size: 18px;
  border: none;
  padding: 0.3em;

  &:hover {
    color: $color-ut-midgrey-1;
  }

  &:active {
    background-color: $color-ut-midgrey-1;
    color: $color-ut-midgrey-3;
  }

  &.divider {
    border-right: 2px solid $color-ut-darkgrey-1;
  }

  &.disabled i {
    cursor: not-allowed;
    pointer-events:  all !important;
    color: darken($color-ut-lightgrey-2, 30%) !important;

    &:hover{
      color: darken($color-ut-lightgrey-2, 30%) !important;
    }
  }

  //&:focus {
  //  outline: none;
  //  border: 1px solid $color-ut-10;
  //}
  &:focus {
    outline: none;
  }

  &.green{
    color: $color-ut-midgrey-2;
  }
}

.x-split-button {
  position: relative;
  display: inline-block;
  text-align: left;
  min-width: 125px;
  .x-button {
    position: relative;
    margin: 0;
    height: 30px;
    float: left;
    outline: none;
    line-height: 27px;
    background: #F2F2F2 !important;
    font-size: 14px !important;
    border-radius: 4px;
  }
  .x-button-drop {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 1px solid #E0E0E0;
  }

  .x-button:hover {
    cursor: pointer;
    background: #E0E0E0;
  }

  .x-button:active {
    background: #D3D3D3;
  }

  .x-button.x-button-drop {
    height: 30px;
  }

  .open > .x-button-drop-menu {
    display: block;
  }

  .x-button-main {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .single-action {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
  }

}

.x-button-drop-menu {
  position: fixed;
  z-index: 9999;
  display: none;
  float: left;
  min-width: 140px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #F2F2F2 !important;
  background-clip: padding-box;
  border: 1px solid #E0E0E0 !important;
  font-size: 14px !important;
  line-height: 1.6;
  li {
    &:hover {
      cursor: pointer;
    }
    button {
      font-size: 14px !important;
    }
  }
}


