button {
  background-color: $element-background;
  color: $sub-headlines;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  padding: 10px !important;
  border: none;

  &:hover {
    color: $icon-hover;
  }

  &:active {
    background-color: $icon-hover;
    color: $button-selected;
  }

  &.divider {
    border-right: 2px solid $element-inline-divider;
  }

  //&:focus {
  //  outline: none;
  //  border: 1px solid $icon-hover;
  //}
  &:focus {
    outline: none;
  }
}

