button {
  background-color: transparent;
  color: $color-ut-midgrey-3;
  font-weight: normal;
  font-size: 18px;
  border: none;
  padding: 0.3em;

  &:hover {
    color: $color-ut-midgrey-1;
  }

  &:active {
    background-color: $color-ut-midgrey-1;
    color: $color-ut-midgrey-3;
  }

  &.divider {
    border-right: 2px solid $color-ut-darkgrey-1;
  }

  &.disabled i {
    cursor: not-allowed;
    pointer-events:  all !important;
    color: darken($color-ut-lightgrey-2, 30%) !important;

    &:hover{
      color: darken($color-ut-lightgrey-2, 30%) !important;
    }
  }

  //&:focus {
  //  outline: none;
  //  border: 1px solid $color-ut-10;
  //}
  &:focus {
    outline: none;
  }

  &.green{
    color: $color-ut-midgrey-2;
  }
}