$headlines: #bedb31;
$sub-headlines: #dadfe6;

$color-active: $headlines;
$color-overlay: $sub-headlines;

$selected-frame: $headlines;

$icon: #919ca9;
$icon-hover: #bedb31;

$text: #727f8f;

$element-background: #2b3036;
$element-divider: #1a1a1a;
$element-inline-divider: #232a33;

$body-background: #181d23;

$button: #30363c;
$button-selected: #353b42;

$accordion-header-background: #343b43;