$color-green: #bedb31;
$color-lightblue: #dadfe6;
$color-midgreen: #919ca9;
$color-darkgreen: #727f8f;


$headlines: $color-green;
$sub-headlines: $color-lightblue;

$color-active: $color-green;
$color-overlay: $color-lightblue;
$color-disabled: #919ca9;

$selected-frame: $color-green;
$selected-box: $color-green;

$icon: $color-midgreen;
$icon-hover: $color-green;

$text: $color-darkgreen;

$element-background: #2b3036;
$element-divider: #1a1a1a;
$element-inline-divider: #232a33;

$body-background: #181d23;

$button: #30363c;
$button-selected: #353b42;
$button-disabled: $color-midgreen;
$button-hover: $color-midgreen;

$accordion-header-background: #343b43;