.drop-area {
  margin-top: 24px;
  margin-bottom: 21px;
  margin-right: 24px;
  padding: 5em;
  border: 2px dashed $color-ut-lightgrey-2;
  text-align: center;
  overflow-x: scroll;
  height: 239px;
}

.drop-area-active {
  border: 2px dashed $color-ut-midgrey-3;
  background-color: $color-ut-lightgrey-4;
}