.viewer-film-reel-container {
  .thumbnail-reel-list {
    margin: 0;

    canvas {
      width: 100%;
      height: 100%;
    }

    > .thumbnail {
      border-top: 2px solid transparent;
      border-bottom: 2px solid transparent;
      overflow: hidden;
      text-align: center;

      .thumbnail-frame-range {
        position: absolute;
        top: 0;
        left: 0;

        .frame-range {
          border-radius: 20px;
          background-color: $button;
          padding: 5px 10px;
          margin-bottom: 11px;

          .divider {
            font-weight: bold;
            margin: 0 6px;
          }

          .divider:before {
            display: inline;
            content: '/';
          }

          .divider, .endFrameNumber {
            color: darkgray;
          }
        }
      }
    }

    > .thumbnail.active {
      border-color: $selected-frame;
    }

    .thumbnail-spacer.active {
      border-top: 2px solid $selected-frame;
      border-bottom: 2px solid $selected-frame;
    }

    > .thumbnail-spacer {
      display: block;
      width: 8px;
      position: relative;

      div.frame-range-bracket {
        background-color: $selected-frame;
        width: 8px;
        position: absolute;
        top: 0;
        bottom: 0;

        .bracket-drag-handle {
          align-items: center;
          cursor: col-resize;

          .bracket-drag-handle-dot {
            width: 2px;
            height: 2px;
            margin-top: 2px;
            margin-bottom: 1px;
            opacity: 0.6;
            background-color: $element-divider;
          }
        }
      }

      div.frame-range-bracket-space {
        width: 8px;
        position: absolute;
        top: 0;
        bottom: 0;
      }
    }
  }
}
