.viewer-film-reel-container {
  frame-number-input {
    color: $color-ut-4;
  }

  .thumbnail-reel-list {
    margin: 0;
    justify-content: center;
    overflow: hidden;

    canvas {
      width: 100%;
      height: 100%;
    }

    > .thumbnail {
      overflow: hidden;
      text-align: center;
      flex-shrink: 0;
      border-top: 2px solid rgba(0, 0, 0, 0);
      border-bottom: 2px solid rgba(0, 0, 0, 0);

      .center-thumbnail-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100% - 4px);
        border: 2px solid $color-ut-2;
        border-right-width: 8px;
        border-left-width: 8px;
      }

      .thumbnail-frame-range {
        position: absolute;
        top: 0;
        left: 0;

        .frame-range {
          border-radius: 20px;
          background-color: $color-ut-8;
          padding: 5px 10px;
          margin-bottom: 11px;

          .divider {
            font-weight: bold;
            margin: 0 6px;
          }

          .divider:before {
            display: inline;
            content: '/';
          }

          .divider, .endFrameNumber {
            color: darkgray;
          }
        }
      }
    }

    > .thumbnail.active {
      border-top: 2px solid $color-ut-8;
      border-bottom: 2px solid $color-ut-8;

      .center-thumbnail-overlay {
        display: none;
      }
    }

    .thumbnail-spacer.active {
      border-top: 2px solid $color-ut-8;
      border-bottom: 2px solid $color-ut-8;
    }

    > .thumbnail-spacer {
      width: 8px;
      position: relative;
      flex-shrink: 0;

      div.frame-range-bracket {
        background-color: $color-ut-6;
        width: 8px;
        position: absolute;
        top: 0;
        bottom: 0;

        .bracket-drag-handle {
          align-items: center;
          cursor: col-resize;

          .bracket-drag-handle-dot {
            width: 2px;
            height: 2px;
            margin-top: 2px;
            margin-bottom: 1px;
            opacity: 0.6;
            background-color: $color-ut-9;
          }
        }
      }

      div.frame-range-bracket-space {
        width: 8px;
        position: absolute;
        top: 0;
        bottom: 0;
      }
    }
  }

  .video-processbar {
    position: relative;
    height: 5px;
    margin: 0 2px 2px 1px;
    background: $color-ut-4;

    .thumbnail-position, .range-position, .video-position, .center-frame-position {
      position: absolute;
      background: $color-ut-4;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;

      .inner-bar {
        height: 100%;
        margin-left: 1px;
        margin-right: 1px;
      }
    }

    .video-position .inner-bar {
      background: $color-ut-10;
    }

    .thumbnail-position .inner-bar {
      background: $color-ut-2;
    }

    .center-frame-position .inner-bar {
      background: $color-ut-2;
    }

    .range-position .inner-bar {
      background: $color-ut-6;
    }
  }
}

.thumbnail-reel-list.read-only {
  > .thumbnail-spacer div.frame-range-bracket .bracket-drag-handle {
    cursor: auto;
  }
}
