fieldset {
  border: 1px solid lighten($color-ut-8, 10%);
  margin: 2rem 1rem;

  legend {
    color: $color-ut-10;
    padding: 1rem;
  }
}

select, input, textarea {
  color: $color-ut-10;
  &.error {
    border: 2px solid orangered !important;
  }

}

form{
  button{
    text-transform: uppercase;
    padding: 10px !important;
  }

  .button-area {
    margin: 0 17px;
  }
}

::-webkit-input-placeholder {
  color: darken($color-ut-10, 23%);
}
