fieldset {
  border: 1px solid lighten($color-ut-midgrey-3, 10%);

  legend {
    color: $color-ut-midgrey-2;
    padding: 1rem;
  }
}

input, textarea {
  color: $color-ut-midgrey-3;
  border:none;
  padding: 0;
  background-color:transparent !important;
  margin: 0;
  height: 20px;
  &.error {
    border: 2px solid orangered !important;
  }
}
select {
  color: $color-ut-darkgrey-2;
  border: 1px solid $color-ut-darkgrey-2;
  padding: 4px;
  background-color: $color-ut-yellow !important;
  margin: 0;
  height: 28px;
  &.error {
    border: 2px solid orangered !important;
  }
}

form{
  button{
    padding: 10px !important;
  }
  .button-area {
    margin: 0 17px;
    .button-text{
      margin-right: 10px;
      @include font-s();
    }
  }
}

::-webkit-input-placeholder {
  color: darken($color-ut-midgrey-2, 23%);
}
