.header {
  box-shadow: 0px 0px 10px 0px #000000;
  align-items: center;
  justify-content: center;
  height: 44px;
  border-bottom: 1px solid;
  border-color: $element-divider;
  background-color: $element-background;

  .grid-block, .grid-content{
    align-items: center;
  }

  .icon {
    margin-left: 30px;
    margin-right: 30px;
  }

  .username {
    margin-left: 60px;
  }
}