//
// Icon Font: icon-font
//

@font-face {
  font-family: "icon-font";
  src: url("../Fonts/icons/icon-font.eot");
  src: url("../Fonts/icons/icon-font.eot?#iefix") format("embedded-opentype"),
       url("../Fonts/icons/icon-font.woff") format("woff"),
       url("../Fonts/icons/icon-font.ttf") format("truetype"),
       url("../Fonts/icons/icon-font.svg#icon-font") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "icon-font";
    src: url("../Fonts/icons/icon-font.svg#icon-font") format("svg");
  }
}

[data-icon]:before {
  content: attr(data-icon);
}

[data-icon]:before,
.icon-area-city:before,
.icon-area-city-big:before,
.icon-area-residential:before,
.icon-area-residential2:before,
.icon-area-suburban:before,
.icon-area-suburban-big:before,
.icon-bookmark:before,
.icon-check:before,
.icon-control-backwards:before,
.icon-control-forwards:before,
.icon-control-next:before,
.icon-control-pause:before,
.icon-control-play:before,
.icon-control-play-steps:before,
.icon-control-previous:before,
.icon-down:before,
.icon-general-chat:before,
.icon-general-faq:before,
.icon-general-loggedin:before,
.icon-general-loggedout:before,
.icon-general-settings:before,
.icon-general-timer:before,
.icon-help:before,
.icon-left:before,
.icon-legacy-project:before,
.icon-nav-backwards:before,
.icon-nav-create-project:before,
.icon-nav-manage-labeling-groups:before,
.icon-nav-manage-users:before,
.icon-next:before,
.icon-ok:before,
.icon-precipitation-norain:before,
.icon-precipitation-rain:before,
.icon-previous:before,
.icon-requirements-xml-project:before,
.icon-right:before,
.icon-selection-add:before,
.icon-selection-delete:before,
.icon-selection-end:before,
.icon-selection-forwards:before,
.icon-selection-generate:before,
.icon-selection-goend:before,
.icon-selection-gostart:before,
.icon-selection-off:before,
.icon-selection-off2:before,
.icon-selection-on:before,
.icon-selection-start:before,
.icon-selection-view:before,
.icon-simple-xml-project:before,
.icon-tool-cuboid:before,
.icon-tool-frame-shape:before,
.icon-tool-group-rectangle:before,
.icon-tool-pedestrian:before,
.icon-tool-point:before,
.icon-tool-polygon:before,
.icon-tool-polyline:before,
.icon-tool-rectangle:before,
.icon-traffic-moderate:before,
.icon-up:before,
.icon-view-brightness:before,
.icon-view-fullscreen:before,
.icon-view-zoom:before,
.icon-view-zoom-in:before,
.icon-view-zoom-out:before,
.icon-view-zoom-resize:before,
.icon-weather-sunny:before {
  display: inline-block;
  font-family: "icon-font";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-area-city:before { content: "\f100"; }
.icon-area-city-big:before { content: "\f101"; }
.icon-area-residential:before { content: "\f102"; }
.icon-area-residential2:before { content: "\f103"; }
.icon-area-suburban:before { content: "\f104"; }
.icon-area-suburban-big:before { content: "\f105"; }
.icon-bookmark:before { content: "\f106"; }
.icon-check:before { content: "\f107"; }
.icon-control-backwards:before { content: "\f108"; }
.icon-control-forwards:before { content: "\f109"; }
.icon-control-next:before { content: "\f10a"; }
.icon-control-pause:before { content: "\f10b"; }
.icon-control-play:before { content: "\f10c"; }
.icon-control-play-steps:before { content: "\f10d"; }
.icon-control-previous:before { content: "\f10e"; }
.icon-down:before { content: "\f10f"; }
.icon-general-chat:before { content: "\f110"; }
.icon-general-faq:before { content: "\f111"; }
.icon-general-loggedin:before { content: "\f112"; }
.icon-general-loggedout:before { content: "\f113"; }
.icon-general-settings:before { content: "\f114"; }
.icon-general-timer:before { content: "\f115"; }
.icon-help:before { content: "\f116"; }
.icon-left:before { content: "\f117"; }
.icon-legacy-project:before { content: "\f118"; }
.icon-nav-backwards:before { content: "\f13f"; }
.icon-nav-create-project:before { content: "\f13e"; }
.icon-nav-manage-labeling-groups:before { content: "\f140"; }
.icon-nav-manage-users:before { content: "\f142"; }
.icon-next:before { content: "\f119"; }
.icon-ok:before { content: "\f11a"; }
.icon-precipitation-norain:before { content: "\f11b"; }
.icon-precipitation-rain:before { content: "\f11c"; }
.icon-previous:before { content: "\f11d"; }
.icon-requirements-xml-project:before { content: "\f11e"; }
.icon-right:before { content: "\f11f"; }
.icon-selection-add:before { content: "\f120"; }
.icon-selection-delete:before { content: "\f121"; }
.icon-selection-end:before { content: "\f122"; }
.icon-selection-forwards:before { content: "\f123"; }
.icon-selection-generate:before { content: "\f124"; }
.icon-selection-goend:before { content: "\f125"; }
.icon-selection-gostart:before { content: "\f126"; }
.icon-selection-off:before { content: "\f127"; }
.icon-selection-off2:before { content: "\f128"; }
.icon-selection-on:before { content: "\f129"; }
.icon-selection-start:before { content: "\f12a"; }
.icon-selection-view:before { content: "\f12b"; }
.icon-simple-xml-project:before { content: "\f12c"; }
.icon-tool-cuboid:before { content: "\f12d"; }
.icon-tool-frame-shape:before { content: "\f12e"; }
.icon-tool-group-rectangle:before { content: "\f12f"; }
.icon-tool-pedestrian:before { content: "\f130"; }
.icon-tool-point:before { content: "\f131"; }
.icon-tool-polygon:before { content: "\f132"; }
.icon-tool-polyline:before { content: "\f133"; }
.icon-tool-rectangle:before { content: "\f134"; }
.icon-traffic-moderate:before { content: "\f135"; }
.icon-up:before { content: "\f136"; }
.icon-view-brightness:before { content: "\f137"; }
.icon-view-fullscreen:before { content: "\f138"; }
.icon-view-zoom:before { content: "\f139"; }
.icon-view-zoom-in:before { content: "\f13a"; }
.icon-view-zoom-out:before { content: "\f13b"; }
.icon-view-zoom-resize:before { content: "\f13c"; }
.icon-weather-sunny:before { content: "\f13d"; }


$font-icon-font-area-city: "\f100"; 
$font-icon-font-area-city-big: "\f101"; 
$font-icon-font-area-residential: "\f102"; 
$font-icon-font-area-residential2: "\f103"; 
$font-icon-font-area-suburban: "\f104"; 
$font-icon-font-area-suburban-big: "\f105"; 
$font-icon-font-bookmark: "\f106"; 
$font-icon-font-check: "\f107"; 
$font-icon-font-control-backwards: "\f108"; 
$font-icon-font-control-forwards: "\f109"; 
$font-icon-font-control-next: "\f10a"; 
$font-icon-font-control-pause: "\f10b"; 
$font-icon-font-control-play: "\f10c"; 
$font-icon-font-control-play-steps: "\f10d"; 
$font-icon-font-control-previous: "\f10e"; 
$font-icon-font-down: "\f10f"; 
$font-icon-font-general-chat: "\f110"; 
$font-icon-font-general-faq: "\f111"; 
$font-icon-font-general-loggedin: "\f112"; 
$font-icon-font-general-loggedout: "\f113"; 
$font-icon-font-general-settings: "\f114"; 
$font-icon-font-general-timer: "\f115"; 
$font-icon-font-help: "\f116"; 
$font-icon-font-left: "\f117"; 
$font-icon-font-legacy-project: "\f118"; 
$font-icon-font-nav-backwards: "\f13f"; 
$font-icon-font-nav-create-project: "\f13e"; 
$font-icon-font-nav-manage-labeling-groups: "\f140"; 
$font-icon-font-nav-manage-users: "\f142"; 
$font-icon-font-next: "\f119"; 
$font-icon-font-ok: "\f11a"; 
$font-icon-font-precipitation-norain: "\f11b"; 
$font-icon-font-precipitation-rain: "\f11c"; 
$font-icon-font-previous: "\f11d"; 
$font-icon-font-requirements-xml-project: "\f11e"; 
$font-icon-font-right: "\f11f"; 
$font-icon-font-selection-add: "\f120"; 
$font-icon-font-selection-delete: "\f121"; 
$font-icon-font-selection-end: "\f122"; 
$font-icon-font-selection-forwards: "\f123"; 
$font-icon-font-selection-generate: "\f124"; 
$font-icon-font-selection-goend: "\f125"; 
$font-icon-font-selection-gostart: "\f126"; 
$font-icon-font-selection-off: "\f127"; 
$font-icon-font-selection-off2: "\f128"; 
$font-icon-font-selection-on: "\f129"; 
$font-icon-font-selection-start: "\f12a"; 
$font-icon-font-selection-view: "\f12b"; 
$font-icon-font-simple-xml-project: "\f12c"; 
$font-icon-font-tool-cuboid: "\f12d"; 
$font-icon-font-tool-frame-shape: "\f12e"; 
$font-icon-font-tool-group-rectangle: "\f12f"; 
$font-icon-font-tool-pedestrian: "\f130"; 
$font-icon-font-tool-point: "\f131"; 
$font-icon-font-tool-polygon: "\f132"; 
$font-icon-font-tool-polyline: "\f133"; 
$font-icon-font-tool-rectangle: "\f134"; 
$font-icon-font-traffic-moderate: "\f135"; 
$font-icon-font-up: "\f136"; 
$font-icon-font-view-brightness: "\f137"; 
$font-icon-font-view-fullscreen: "\f138"; 
$font-icon-font-view-zoom: "\f139"; 
$font-icon-font-view-zoom-in: "\f13a"; 
$font-icon-font-view-zoom-out: "\f13b"; 
$font-icon-font-view-zoom-resize: "\f13c"; 
$font-icon-font-weather-sunny: "\f13d"; 