.icon-fa {
  vertical-align: inherit;
}

.icon {
  overflow: hidden;
  font-size: 30px;

  &.active {
    color: $icon-hover !important;
  }

  &.icon-small {
    font-size: 16px;
  }
}

.icon-fa, .icon {
  color: $icon;

  &:hover {
    color: $icon-hover !important;
  }

  &.toggled {
    color: $icon-hover !important;
  }

  &.no-hover:hover {
    color: $icon !important;
    cursor: auto !important;
  }
}


