.icon-fa {
  vertical-align: inherit;
}

.icon {
  overflow: hidden;
  font-size: 30px;

  &.active {
    color: $color-ut-midgrey-2 !important;
  }

  &.icon-small {
    font-size: 16px;
  }

  &.icon-medium {
    font-size: 20px;
  }

  &.disabled {
    color: darken($color-ut-midgrey-3, 30%);

    &:hover{
      color: darken($color-ut-midgrey-3, 30%) !important;
      cursor: alias;
    }
  }
}

.icon-fa, .icon {
  color: $color-ut-midgrey-3;

  &:hover {
    color: $color-ut-midgrey-2 !important;
  }

  &.toggled {
    color: $color-ut-midgrey-2 !important;
  }

  &.no-hover:hover {
    color: $color-ut-midgrey-3 !important;
    cursor: auto !important;
  }

  &.warning-color {
    color: $color-ut-red;
  }
}


