$wizardTextColor: $color-ut-2;

.label-wizard {
  .label-wizard-challenge {
    padding: 15px 15px 40px 15px;
  }

  .wizard-carousel {
    position: relative;
  }

  .wizard-carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  .wizard-carousel-control {
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 15%;
    text-align: center;
    color: $wizardTextColor;
    text-decoration: none;

    .control-icon {
      display: inline;
    }
  }

  .wizard-carousel-indicators {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 15;
    width: 60%;
    margin-left: -30%;
    padding-left: 0;
    list-style: none;
    text-align: center;
  }

  .wizard-carousel-control.right {
    left: auto;
    right: 0;
  }

  .wizard-carousel-indicators .active {
    background-color: $wizardTextColor;
  }

  .wizard-carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    border: 1px solid $wizardTextColor;
    border-radius: 10px;
    cursor: pointer;
    background-color: $color-ut-9 \9;
    background-color: transparent;
  }
}
