/** Categories Title **/
.label-selector .label-selector-title {
  align-items: center;
  text-transform: uppercase;
  color: $headlines;
  border-bottom: 2px solid $element-inline-divider;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  height: 2.8rem;
  min-height: 2.8rem;
  flex: 0;
  font-weight: bold;

  input[type="radio"] {
    display: none;
  }

  input[type="radio"] + label {
    cursor: pointer;
    margin: 0 0 0 .5rem;
  }

  input[type="radio"]:checked + label {
    color: $text;
  }

  input[type="radio"]:checked + label {
    color: $icon-hover;
  }

  .view-style {
    margin-right: .7rem;
  }
}

/** List View **/
.label-selector {
  .accordion {
    height: 0;
    overflow: hidden;
    overflow-y: auto;
  }

  v-pane-content {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        padding-right: 15px;
        padding-left: 8px;

        label {
          align-items: center;
        }
      }
    }

    label:hover {
      color: $icon-hover;
    }

    input[type="radio"] {
      display: none;
    }

    input[type="radio"] + label {
      display: flex;
      margin-right: .1rem;
      cursor: pointer;
    }

    .icon {
      padding: 0;
    }

    input[type="radio"] + label:after {
      @include grid-content(
              $size: shrink
      );

      padding: 0;

      visibility: hidden;

      font-family: "icon-font";
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      line-height: 1;
      text-decoration: inherit;
      text-rendering: optimizeLegibility;
      text-transform: none;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-smoothing: antialiased;

      font-size: 30px;
      overflow: hidden;
      color: $icon-hover;

      content: $font-icon-font-check;
      //margin-right: .5rem;
    }

    input[type="radio"]:checked + label {
      .response {
        color: $sub-headlines;
      }
    }

    input[type="radio"]:checked + label:after {
      visibility: visible;
    }
  }
}

/** Icon View **/
.label-selector {
  .label-selector-controlls {
    border-bottom: 1px solid $element-inline-divider;
    align-items: center;
    height: 5.6rem;
    min-height: 5.6rem;
    flex: 0;
    font-size: 19px;
    line-height: 20px;
    font-weight: bold;

    .control-left {
      padding: 0 0 0 1rem;
    }

    .control-right {
      padding: 0 1rem 0 0;
    }

    .icon {
      font-size: 3rem;
    }
    .page-header {
      padding-top: 25px;

      .page-indicator-container, .page-title {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .page-indicators {
      z-index: 15;
      margin: 0 auto;
      list-style: none;
      text-align: center;

      li {
        display: inline-block;
        width: 5px;
        height: 5px;
        margin: 4px;
        text-indent: -999px;
        border-radius: 5px;
        cursor: pointer;
        background-color: $selected-background;
      }

      li.active {
        background-color: $color-overlay;
      }
    }
  }

  .label-selector-content {
    flex: 10;

    .label-selector-content-container {
      align-content: flex-start;
    }

    .label-selector-content-spacer {
    }

    .label-selector-item {
      padding: 1rem 0.1rem;
      text-align: center;
      background-color: $frame-tools-background;
      border-right: 1px solid $element-inline-divider;
      border-bottom: 1px solid $element-inline-divider;
      font-size: 16px;
      height: 115px;

      button {
        margin-bottom: 0.2rem;
      }

      p {
        margin-bottom: 0.5rem;
      }

      &.selected {
        position: relative;
        background-color: $button-active;
        z-index: 2;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);

        &:after {
          content: '\f132';
          display: inline-block;
          font-family: "icon-font";
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          font-size: 30px;

          position: absolute;
          top: 7px;
          right: 7px;
          color: $icon-hover;
        }
      }

      &:hover {
        background-color: $button-active;
        cursor: pointer;

        .icon {
          color: $icon-hover;
        }
      }
    }
  }
}

/** Buttons **/
.label-selector .label-selector-button-wrapper {
  align-items: center;
  flex: 0;
  height: 2.8rem;
  min-height: 2.8rem;
  font-size: 19px;
  background-color: $button-active;
  border-top: 2px solid $element-inline-divider;
  cursor: pointer;
  font-weight: bold;

  .label-selector-button {
    height: 100%;
    z-index: 2000;

    &:first-child {
      border-right: 1px solid $element-inline-divider;
    }

    &:hover {
      color: $icon-hover;
    }

    &:active {
      background-color: $icon-hover;
      color: $button-active;
    }
  }
}

/** Placeholder **/
.label-selector .label-selector-placeholder {
  h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1em;
    color: rgba(213, 217, 221, 0.3);
    text-shadow: 1px 4px 6px #181d23, 0 0 0 $color-black, 1px 4px 6px #181d23;
    text-align: center;
    margin-top: 50%;
  }
}
