.label-selector {

  .icon {
    color: $icon;
  }

  .label-selector-title {
    align-items: center;
    text-transform: uppercase;
    color: $headlines;
    border-bottom: 2px solid $element-inline-divider;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    height: 2.8rem;
    min-height: 2.8rem;
    flex: 0;
    font-weight: bold;

  }

  .label-selector-controlls {
    border-bottom: 1px solid $element-inline-divider;
    align-items: center;
    height: 5.6rem;
    min-height: 5.6rem;
    flex: 0;
    font-size: 19px;
    line-height: 20px;
    font-weight: bold;

    .icon {
      font-size: 3rem;
    }
    .page-header {
      padding-top: 25px;
    }

    .page-indicators {
      z-index: 15;
      margin: 0 auto;
      list-style: none;
      text-align: center;

      li {
        display: inline-block;
        width: 5px;
        height: 5px;
        margin: 4px;
        text-indent: -999px;
        border-radius: 5px;
        cursor: pointer;
        background-color: $text;
      }

      li.active {
        background-color: $sub-headlines;
      }
    }
  }

  .label-selector-content {
    flex: 10;

    .label-selector-content-container {
      align-content: flex-start;
    }

    .label-selector-content-spacer {
    }

    .label-selector-item {
      padding: 1rem 0.1rem;
      text-align: center;
      background-color: $button;
      border-right: 1px solid $element-inline-divider;
      border-bottom: 1px solid $element-inline-divider;
      font-size: 16px;
      height: 135px;

      button {
        margin-bottom: 0.2rem;
      }

      p {
        margin-bottom: 0.5rem;
      }

      &.selected {
        position: relative;
        background-color: $button-selected;
        z-index: 2;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);

        &:after {
          content: '\f132';
          display: inline-block;
          font-family: "icon-font";
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          font-size: 30px;

          position: absolute;
          top: 7px;
          right: 7px;
          color: $icon-hover;
        }
      }

      &:hover {
        background-color: $button-selected;
        cursor: pointer;

        .icon {
          color: $icon-hover;
        }
      }
    }
  }

  .label-selector-button {
    align-items: center;
    flex: 0;
    height: 2.8rem;
    min-height: 2.8rem;
    font-size: 19px;
    background-color: $button-selected;
    border-top: 1px solid $element-inline-divider;
    cursor: pointer;
    font-weight: bold;

    &:hover {
      color: $icon-hover;
    }
  }

  .label-selector-placeholder {
    h1 {
      font-family: Helvetica, Arial, sans-serif;
      font-weight: bold;
      font-size: 3rem;
      line-height: 1em;
      color: rgba(213, 217, 221, 0.3);
      text-shadow: 1px 4px 6px #181d23, 0 0 0 #000, 1px 4px 6px #181d23;
      text-align: center;
      margin-top: 50%;
    }
  }

}
