$spinner-size: 82px;
$shadow-offset: $spinner-size * 0.1;
$shadow-size: $spinner-size * 0.8;

loading-mask {
  z-index: 9001;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .loading-mask-inner {
    height: 100%;

    .loading-mask-backdrop {
      position: absolute;
      top: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      background-color: $color-ut-8;
      opacity: 0.4;
    }

    .loading-spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -$spinner-size / 2;
      margin-top: -$spinner-size / 2;
      width: $spinner-size;
      height: $spinner-size;
      &:before {
        content: '';
        display: block;
        padding-top: 100%;
      }

      .spinner-shadow {
        position: absolute;
        top: $shadow-offset;
        left: $shadow-offset;
        width: $shadow-size;
        height: $shadow-size;
        border-radius: $shadow-size / 2;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
      }
    }

    .loading-mask-message{
      position: absolute;
      top: 50%;
      padding-top: $spinner-size / 1.5;
      width: 100vw;
      text-align: center;
      font-size: 2em;
      color: $text;
    }

    .circular {
      animation: rotate 2s linear infinite;
      height: 100%;
      transform-origin: center center;
      width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }

    .path {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
      animation: dash 1.5s ease-in-out infinite;
      stroke-linecap: round;
      stroke: $color-ut-6;
    }

    .path-background {
      stroke: $color-ut-9;
      opacity: 0.5;
    }
  }

  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px;
    }
    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -124px;
    }
  }
}
