.modal-dialog-normal,
.modal-dialog-warning {
  z-index: 10000;

  .modal {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    background-color: $color-ut-lightgrey-3;
    padding: 0;
    margin-top: -30vh;
    z-index: 10001;

    .modal-header {
      padding: 0 20px;

      .modal-title {
        color: $color-ut-midgrey-3;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 18px;
        padding: 20px 0 20px 0;
        text-align: center;
      }
    }

    .modal-body {
      overflow-y: scroll;
      max-height: 60vh;

      .modal-body-headline {
        color: $color-ut-lightgrey-1;
        font-size: 18px;
        font-weight: bold;
        padding: 10px 10px 10px 10px;
        background-color: $color-ut-midgrey-2
      }

      .modal-body-content {
        white-space: pre-wrap;
        color: $color-ut-midgrey-3;
        font-size: 14px;
        font-weight: bold;
        padding: 5px 10px;
      }

      .modal-body-selection {
        padding: 0px 10px 10px 10px;
        position: relative;
      }

      .modal-body-list {
        padding: 0px 10px 10px 10px;
        position: relative;
      }

      .modal-body-input {
        padding: 0px 10px 10px 10px;
        position: relative;
      }
    }

    .modal-footer {
      border-top: 2px solid $color-ut-darkgrey-1;

      button {
        text-transform: uppercase;
        padding: 10px !important;

        &:focus{
          color: $color-ut-midgrey-3;
          background-color: $color-ut-midgrey-1;
        }

        &:disabled{
          color: darken($color-ut-darkgrey-2, 10);
          background-color: darken($color-ut-lightgrey-4, 20);
        }
      }

      .modal-button-cancel {
        border-right: 2px solid $color-ut-darkgrey-1;
      }

      .modal-button-confirm {

      }
    }
  }
}

.modal-dialog-normal {
  .modal {
    border: 2px solid $color-ut-darkgrey-1;
  }
}

.modal-dialog-warning {
  .modal {
    border: 2px solid $color-ut-midgrey-1;
  }
}
