.cursor-grab {
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;
}

.cursor-grabbing {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.cursor-zoom-in {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.cursor-zoom-out {
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.cursor-auto {
  cursor: auto;
}

.cursor-nesw-resize {
  cursor: nesw-resize;
}

.cursor-nwse-resize {
  cursor: nwse-resize;
}

.cursor-ns-resize {
  cursor: ns-resize;
}

.cursor-all-scroll {
  cursor: all-scroll;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-add {
  cursor: copy;
}

.cursor-remove {
  cursor: cell;
}

.cursor-none {
  cursor: none;
}