$small-margin: 43px;
$large-margin: 81px;

#page-title-progress-bar {

}

#page-title {
  margin: $small-margin $large-margin $small-margin $small-margin;

  #logged-in-user {
    max-width: 250px;

    p {
      margin: 0;
      padding: 0;
    }
  }

  #logged-in-user-role, #logged-in-user-organisation {
    @include font-xs();
  }
}