.page-header {
  display: flex;
  flex-direction: row;
  margin: $horizontal-block-size $vertical-block-size;
  align-items: flex-end;

  .page-header__title {
    flex-grow: 10;
  }

  .page-header__custom-content {
    flex-grow: 8;
    justify-content: center;
    margin: 0 $vertical-block-size;
  }

  .page-header__user-info {
    flex-grow: 4;
    text-align: right;

    .page-header__user-info__line {
      @include font-xs();

      logout-button{
        display: inline-block;
        margin-right: 0.2em;
      }

      button {
        background: none;
      }
    }

    .user-name {
      @include font-l();
    }
  }
}