// Progress bar
.progress {
  background-color: $body-background;
  height: 1rem;

  .success {
    background-color: $color-active;
  }
}

// Progress bar meter
.progress-meter {
  position: relative;
  display: block;
  width: 0;
  height: 100%;
  background-color: $element-divider;

  // Progress bar meter text
  .progress-meter-text {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 0.75rem;
    font-weight: bold;
    color: $color-ut-7;
    white-space: nowrap;
  }
}