ribbon{
  width: 200px;
  background: $color-ut-lightgrey-4;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 40px;
  letter-spacing: 1px;
  border-top: 1px solid $color-ut-midgrey-3;
  border-bottom: 1px solid $color-ut-midgrey-3;
  color: $color-ut-midgrey-3;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

ribbon.transparent {
  opacity: 0.7;
}

ribbon.sticky{
  position: fixed;
}

ribbon.shadow{
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}

ribbon.top-left{
  top: 25px;
  left: -50px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

ribbon.top-right{
  top: 25px;
  right: -50px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

ribbon.bottom-left{
  top: auto;
  bottom: 25px;
  left: -50px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

ribbon.bottom-right{
  top: auto;
  right: -50px;
  bottom: 25px;
  left: auto;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
