$side-navigation-background-color: $color-ut-darkgrey-1;
$side-navigation-width: 80px;
$side-navigation-top-and-bottom-spacing: 16px;
$side-navigation-icon-size: 48px;
$side-navigation-button-spacing: 23px;
$side-navigation-scroll-hack: 30px;
$side-navigation-main-area-top-and-bottom-spacing: 10px;

.side-navigation {
  @include grid-block;
  @include grid-orient(vertical);

  flex: 0 0 $side-navigation-width;
  width: $side-navigation-width;
  height: 100%;

  background-color: $side-navigation-background-color;

  &__top-area {
    @include grid-block;
    @include grid-orient(vertical);

    flex: 0 0 auto;
    justify-content: flex-start;
    align-items: center;

    margin-top: $side-navigation-top-and-bottom-spacing;
  }

  &__bottom-area {
    @include grid-block;
    @include grid-orient(vertical);

    flex: 0 0 auto;
    justify-content: flex-end;
    align-items: center;

    margin-bottom: $side-navigation-top-and-bottom-spacing;
  }

  &__fader-area {
    position: relative;
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    overflow: hidden;
  }

  @mixin side-bar-fader-gradient($direction) {
    background: linear-gradient(
                    to #{$direction},
                    rgba($side-navigation-background-color, 1) 0%,
                    rgba($side-navigation-background-color, 1) $side-navigation-main-area-top-and-bottom-spacing,
                    rgba($side-navigation-background-color, .25) $side-navigation-main-area-top-and-bottom-spacing + $side-navigation-icon-size + $side-navigation-button-spacing,
                    rgba($side-navigation-background-color, 0) 100%
    );
  }

  &__top-fader, &__bottom-fader {
    display: block;
    position: absolute;
    height: ($side-navigation-icon-size * 2) + $side-navigation-button-spacing + $side-navigation-main-area-top-and-bottom-spacing;
    width: $side-navigation-width;
    content: '';
    pointer-events: none;
  }

  &__top-fader {
    top: 0;
    @include side-bar-fader-gradient(bottom);
  }

  &__bottom-fader {
    bottom: 0;
    @include side-bar-fader-gradient(top);
  }

  &__main-area {
    @include grid-block;
    @include grid-orient(vertical);

    flex: 1 1 auto;
    justify-content: flex-start;
    align-items: flex-start;

    margin: $side-navigation-main-area-top-and-bottom-spacing 0;

    width: $side-navigation-width + $side-navigation-scroll-hack;

    overflow-x: hidden;
    overflow-y: auto;

    .side-navigation__button {
      margin-left: ($side-navigation-width - $side-navigation-icon-size) / 2;

      /* spacer before first button */
      &:nth-child(2) {
        margin-top: 0;
      }

      /* spacer after last button */
      &:nth-last-child(2) {
        margin-bottom: 0;
      }
    }
  }

  &__spacer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &:first-child {
      margin-top: auto;
    }

    &:last-child {
      margin-bottom: auto;
    }

    /* In case of odd count of buttons add a virtual one at the bottom to shift all others up! */
    &:last-child:nth-child(2n+0):before {
      /*
       * The size to compensate is 1 button + the upper and lower margin of the button
       * We need to compensate for 2 margins, as the button above the missing one is now the "last" and does not have
       * a lower margin anymore
       */
      flex: 0 1 $side-navigation-icon-size + ($side-navigation-button-spacing * 2);
      content: '';
    }
  }

  &__button {
    flex: 0 0 $side-navigation-icon-size;

    overflow: hidden;
    width: $side-navigation-icon-size;
    height: $side-navigation-icon-size;
  }

  &__button {
    margin: $side-navigation-button-spacing 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__icon {
    font-size: $side-navigation-icon-size;
    color: $color-ut-lightgrey-1;
  }

  /* Button highlight on active route */
  &__button--active {
    .side-navigation__icon {
      color: $color-ut-yellow;
    }
  }
}