$sideNavigationWidth: 80px;
$sideNavigationTopAndBottomSpacing: 16px;
$sideNavigationIconSize: 60px;
$sideNavigationButtonSpacing: 23px;

.side-navigation {
  @include grid-block;
  @include grid-orient(vertical);

  flex: 0 0 $sideNavigationWidth;
  width: $sideNavigationWidth;
  height: 100%;

  background-color: $color-ut-9;

  &__top-area {
    @include grid-block;
    @include grid-size(expand);
    @include grid-orient(vertical);

    justify-content: flex-start;
    align-items: center;

    margin-top: $sideNavigationTopAndBottomSpacing;
  }

  &__bottom-area {
    @include grid-block;
    @include grid-size(expand);
    @include grid-orient(vertical);

    justify-content: flex-end;
    align-items: center;

    margin-bottom: $sideNavigationTopAndBottomSpacing;
  }

  &__main-area {
    @include grid-block;
    @include grid-size(shrink);
    @include grid-orient(vertical);

    justify-content: center;
    align-items: center;
  }

  &__button {
    overflow: hidden;
    width: $sideNavigationIconSize;
    height: $sideNavigationIconSize;
  }

  &__button {
    margin: $sideNavigationButtonSpacing 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__icon {
    font-size: $sideNavigationIconSize;
    color: $color-ut-1;
  }

  /* Button highlight on active route */
  &__button--active {
    .side-navigation__icon {
      color: $color-ut-6;
    }
  }
}