table.table {
  width: 100%;

  a {
    color: $color-ut-10;
    text-decoration: underline;
  }

  &.sortable {
    thead {
      th {
        cursor: pointer;
      }
    }
  }

  &.hover {
    tbody {
      tr:not(.no-hover):hover {
        cursor: pointer;

        td {
          background: darken($color-ut-2, 10%);

          a {
            color: $color-ut-8;
          }

          .icon, .fa {
            color: $color-ut-8;
          }

          .icon:hover, .fa:hover {
            font-weight: bold;
            color: white !important;
          }

        }
      }
    }
  }

  thead,
  tbody,
  tfoot {
    background-color: $color-ut-1;

    td, th {
      background-color: $color-ut-2;
      text-align: left;
    }
  }

  thead,
  tfoot {
    color: $color-ut-5;
    @include font-m();
  }

  thead,
  tfoot {
    tr {
      background: transparent;
    }
  }

  thead, tfoot {
    th, td {
      background-color: $color-ut-1;
      padding: 0.6rem 0.725rem 0.725rem;
      font-weight: bold;
    }
  }

  tfoot {
    tr > td {
      text-align: center;
    }
  }

  tbody {
    tr:nth-child(even) {
      td {
        background-color: $color-ut-11;
      }
    }

    th, td {
      padding: 0.6rem 0.725rem 0.725rem;
    }

    td.action-cell {
      padding: 0;

      button, button:hover, button:active {
        background: transparent;
        padding: .2rem .5rem !important;
      }
    }
  }

  thead {
    tr {
      th {
        border-bottom: 1px solid $color-ut-10;
      }
    }
  }

  th.st-sort-descent:after {
    padding-left: .6rem;
    color: $color-ut-10;
    content: "▲";
  }

  th.st-sort-ascent:after {
    padding-left: .3rem;
    color: $color-ut-10;
    content: "▼";
  }
}

table.auto-size {
  width: auto !important;
}

pagination-controls {
  button {
    margin: 0 .2rem;
  }

  button.is-active {
    background-color: $color-ut-10;
    color: $color-ut-2;
  }
}
