table.table {
  width: 100%;

  a {
    color: $color-ut-midgrey-2;
    text-decoration: underline;
  }

  &.sortable {
    thead {
      th {
        cursor: pointer;
      }
    }
  }

  &.hover {
    tbody {
      tr:not(.no-hover):hover {
        cursor: pointer;

        td {
          background: darken($color-ut-lightgrey-3, 10%);

          a {
            color: $color-ut-midgrey-3;
          }

          .icon, .fa {
            color: $color-ut-midgrey-3;
          }

          .icon:hover, .fa:hover {
            font-weight: bold;
            color: white !important;
          }

        }
      }
    }
  }

  thead,
  tbody,
  tfoot {
    background-color: $color-ut-lightgrey-1;

    td, th {
      background-color: $color-ut-lightgrey-3;
      text-align: left;
    }
  }

  thead,
  tfoot {
    color: $color-ut-darkgrey-2;
    @include font-m();
  }

  thead,
  tfoot {
    tr {
      background: transparent;
    }
  }

  thead, tfoot {
    th, td {
      background-color: $color-ut-lightgrey-1;
      padding: 0.6rem 0.725rem 0.725rem;
      font-weight: bold;
    }
  }

  tfoot {
    tr > td {
      text-align: center;
    }
  }

  tbody {
    tr:nth-child(odd) {
      td {
        background-color: $color-ut-lightgrey-2;
      }
    }

    th, td {
      padding: 0.6rem 0.725rem 0.725rem;
    }

    td.action-cell {
      padding: 0;

      button, button:hover, button:active {
        background: transparent;
        padding: .2rem .5rem !important;
      }
    }
  }

  thead {
    tr {
      th {
        border-bottom: 1px solid $color-ut-darkgrey-1;
      }
    }
  }

  th.st-sort-descent:after {
    padding-left: .6rem;
    color: $color-ut-midgrey-2;
    content: "▲";
  }

  th.st-sort-ascent:after {
    padding-left: .3rem;
    color: $color-ut-midgrey-2;
    content: "▼";
  }
}

table.auto-size {
  width: auto !important;
}

pagination-controls {
  button {
    margin: 0 .2rem;
  }

  button.is-active {
    background-color: $color-ut-midgrey-2;
    color: $color-ut-lightgrey-3;
  }
}
.view-list-table {
  thead {
    th:first-child {
      padding-left: 0 !important;
      text-align: left !important;
    }
    th {
      background: white !important;
      text-align: center !important;
      padding: 0 !important;
      font-size: 14px;
      font-weight: lighter !important;
    }
    th:last-child {
      text-align: left !important;
    }
  }
  tbody {
    tr {
      td:first-child {
        padding-left: 2px;
        text-align: left;
      }
      td {
        text-align: center;
        font-size: 12px;
        padding: 6px 0 4px;
        border-bottom: 2px solid $color-ut-lightgrey-1;
        i {
          font-size: 20px;
        }
        ul {
          line-height: 0;
          margin-bottom: 0;
          li {
            font-size: 12px;
          }
        }
      }
      td:last-child {
        text-align: left;
      }
    }
  }
}
.view-list-info-box {
  height: 200px;
  h3 {
    margin-top: 20px;
  }
}

.formular-table {
  margin-bottom: 2em;
  tr {
    border-bottom: 2px solid $color-ut-lightgrey-2;
    td:first-child {
      @include font-s();
      color: white;
      width: 150px;
    }
    td {
      background: $color-ut-midgrey-1 !important;
      padding: 4px 5px !important;
      input {
        background: transparent;
        border: none;
        height: 20px;
        padding: 0;
        margin: 0;
        @include font-s();
      }
      input:hover {
        background: transparent;
        border: none;
      }
      input:focus {
        background: transparent;
        border: none;
      }
    }
  }
}
