tab-view {
  margin: 1rem 2rem;
  //border: 1px solid goldenrod;
//  @include grid-block(
//  $size: expand, // Can be expand, shrink, or a number of columns
//  $orientation: vertical, // Set to vertical for a vertical grid
//  $wrap: false, // Set to true to make columns wrap if they get too wide
//  $align: left, // Can be left, right, center, justify, or spaced
//  $order: 0 // Can be any positive number
//  );
}
//
//tab {
//  @include grid-block(
//  $size: expand, // Can be expand, shrink, or a number of columns
//  $orientation: vertical, // Set to vertical for a vertical grid
//  $wrap: false, // Set to true to make columns wrap if they get too wide
//  $align: left, // Can be left, right, center, justify, or spaced
//  $order: 0 // Can be any positive number
//  );
//}

.tabs {
  .tab-item {
    color: $color-ut-10;
    margin-bottom: -1px;
    background: none;
    @include font-l();

    &.is-active {
      color: $color-ut-5;
      font-weight: bold;
      background: none;

      &:hover {
        background: none;
      }
    }

    &:hover {
      color: $color-ut-5;
      background: none;
    }
  }
}

