tab-view {
  margin: 1em 2em;
  @include grid-block(
  $size: expand, // Can be expand, shrink, or a number of columns
  $orientation: vertical, // Set to vertical for a vertical grid
  $wrap: false, // Set to true to make columns wrap if they get too wide
  $align: left, // Can be left, right, center, justify, or spaced
  $order: 0 // Can be any positive number
  );
}

tab {
  @include grid-block(
  $size: expand, // Can be expand, shrink, or a number of columns
  $orientation: vertical, // Set to vertical for a vertical grid
  $wrap: false, // Set to true to make columns wrap if they get too wide
  $align: left, // Can be left, right, center, justify, or spaced
  $order: 0 // Can be any positive number
  );
}

.tabs {
  border-bottom: 1px solid $icon-hover;

  .tab-item {
    margin-bottom: -1px;
    border-bottom: 1px solid $icon-hover;

    &.is-active {
      border-top: 1px solid $icon-hover;
      border-left: 1px solid $icon-hover;
      border-right: 1px solid $icon-hover;
      border-bottom: 1px solid transparent;
    }

    &.is-active:hover {
      background-color: $body-background;
    }
  }
}

