tasklist {
  margin: 0;

  .tasklist-container {
    margin: 2rem;
  }

  table.table {
    margin: 0;
    width: 100%;

    .btn-column {
      text-align: center;
    }
  }

  .no-tasks {
    text-align: center !important;
  }

  .no-tasks:hover {
    cursor: auto;
  }


  .btn-container {
    display: inline-block;
  }

  .btn-container:after {
    display: block;
    clear: both;
    content: '';
  }

  button {
    float: left;
  }
}

