.menubar {
  margin-bottom: 3rem;
}

.title-bar {

  margin-bottom: 5rem;
  background-color: $element-background;
  color: $sub-headlines;

  a {
    color: $icon;
  }

  a:hover {
    color: $icon-hover;
  }

  border-bottom: 0;
}

.task-list-table {

  .type-object-labeling {
    border-left: 3px solid goldenrod;
  }

  .type-meta-labeling {
    border-left: 3px solid cornflowerblue;
  }

  a {
    display: block;
    width: 100%;
    height: 100%;

    color: $sub-headlines;

    &:hover {
      color: $icon-hover;
    }
  }

  .frame-range {
    margin-left: 8px;
    color: $text;
  }

  .frame-range:before {
    display: inline;
    content: '[';
  }

  .frame-range:after {
    display: inline;
    content: ']';
  }
}