.timeline-container {
  /* Placeholder */
  h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 6rem;
    line-height: 1em;

    /* Shadows are visible under slightly transparent text color */
    color: rgba(152, 156, 160, 0.3);
    text-shadow: 1px 4px 6px $color-ut-1, 0 0 0 $color-black, 1px 4px 6px $color-ut-1;
    text-align: center;
  }
}