.user-role-bar {
  height: 2px;
  padding: 0 0.5rem;

  .role-line{
    height: 2px;
  }

  .ROLE_SUPER_ADMIN {
    background-color: $color-orange;
  }
  .ROLE_ADMIN {
    background-color: $color-lightred;
  }
  .ROLE_LABEL_COORDINATOR {
    background-color: $color-yellow;
  }
  .ROLE_CLIENT {
    background-color: $color-ut-10;
  }
  .ROLE_LABELER {
    background-color: $color-lightgrey-1;
  }
  .ROLE_OBSERVER {
    background-color: $color-ut-10;
  }
  .ROLE_USER {
    background-color: $color-ut-6;
    /** Don't show this role in the frontend **/
    display: none;
  }
}