tool-selector {
  flex: 0 0 35px !important;
  border-right: 1px solid $color-ut-darkgrey-1;
  background-color: $color-ut-lightgrey-4;

  .tool-selector {

    h1{
      border-bottom: 2px solid $color-ut-darkgrey-1;
      padding: 8px 5px;
      text-align: center;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: $color-ut-midgrey-2;
      font-size: 20px;
    }

    button.tool-button {
      padding: 12px 5px;
      text-align: center;
      display: inline-flex;
      cursor: pointer;
      border-bottom: 1px solid $color-ut-darkgrey-1;
      align-items: center;
      justify-content: center;

      &:hover, &.active {
        background-color: darken($color-ut-lightgrey-4, 10);
        .icon{
          color: $color-ut-midgrey-2;
        }
      }

      .icon {
        font-size: 20px;
        line-height: 20px;
      }
    }
  }
}
