.ui-grid.clickable {
  .ui-grid-row {
    cursor: pointer;
  }

  .ui-grid-row:hover {
    .ui-grid-cell {
      color: $gradient-start;
      background-color: $border-color;
      border-color: $gradient-start;
    }
  }
}

.ui-grid-cell {
  padding: 0.2rem;
}

.ui-grid-header-cell {
  padding: 0.5rem;
  font-size: 1.2rem;

  // Remove sort buttons that are rendered invisible
  .ui-grid-invisible {
    display: none;
  }
}

.grid-action-buttons > a {
  background-color: $body-background;
  color: $icon;
  padding: 0.2rem 0.4rem;
  margin-right: 0.5rem;
  border: 1px solid $element-background;
}

.ui-grid-pager-control {
  display: flex;
  justify-content: space-around;

  .ui-grid-pager-max-pages-number{
    margin: 0.5em 0.5em 0 0.5em;
    height: 25px;
    vertical-align: center;
  }

  input{
    margin-left: 0.5em;
  }

  button {
    background-color: $element-background;
    color: $gradient-start;
    font-weight: bold;
    font-size: 18px;
    border: none;
    margin: 0 0.1em;

    &:hover {
      color: $icon-hover;
    }

    &:active {
      background-color: $icon-hover;
      color: $button-selected;
    }

    &.divider {
      border-right: 2px solid $element-inline-divider;
    }

    //&:focus {
    //  outline: none;
    //  border: 1px solid $icon-hover;
    //}
    &:focus {
      outline: none;
    }
  }
}

.ui-grid-pager-count {
  margin-top: 0.5em;
}
