.users-list {
  .action-cell {
    padding: 0;

    button {
      padding: 0 !important;
    }

    button, button:hover, button:active {
      background: transparent;
    }
  }

  &.hover {
    tr:hover {
      .action-cell {
        .icon {
          color: $element-background;
        }
      }
    }
  }

  .icon:hover {
    font-weight: bold;
    color: white !important;
  }
}

.user-profile {
  max-width: 600px;

  .button-area {
     margin: 0 17px;
  }
}