.viewer-container {
  .viewer {
    height: 620px;
    width: 1024px;
    margin: 0 auto;

    .layer-container {
      position: relative;

      canvas.annotation-layer, canvas.background-layer, .event-delegation-layer {
        position: absolute;
        top: 0;
        left: 0;
      }

      .event-delegation-layer {
        width: 1024px;
        height: 620px;
      }
    }
  }
}

.viewer-controls-container {
  margin: 0 auto;

  .viewer-controls {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.viewer-film-reel-container {
  .thumbnail-reel-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;

    > li {
      margin: 0 2px;
      flex: 1;

      > canvas {
        width: 100%;
      }
    }
  }
}
