@import "colors";
@import "foundation";
@import "font-awesome";
@import "icon-font";
@import "fonts";
@import "accordion";
@import "table";
@import "form";
@import "button";
@import "label-selection-wizard";
@import "viewer";
@import "filmreel";
@import "timeline";
@import "icons";
@import "header";
@import "minimap";
@import "loading-mask";
@import "export-list";
@import "mouse-cursor";
@import "label-selector";
@import "modals";
@import "tooltips";
@import "badge";
@import "tabview";
@import "progress-bar";
@import "drop-area";
@import "title-bar";
@import "tool-selector";
@import "idle-indicator";
@import "live-sync-indicator";
@import "ribbon";

html, body {
  // Prevent overscroll
  overflow: hidden;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// Carefull with 'height: 100%'. This causes strange bugs with the ToolEvent.point coordinates.

.label-summary span.label-padding {
  margin-right: 2px;
}

viewer {
  text-align: center;
  //box-shadow: inset 0 0 10px 0 #000000;
}

.timer-text {
  align-self: center;
  padding-right: 0;
}

div.popup-panel {
  font-size: 16px;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: $frame-tools-background;
  border-top: 2px solid $element-inline-divider;
  flex: 0;

  .zoom {
    .zoom-controls {
      padding: 2rem 0;

      button {
        overflow: hidden;
      }
    }
  }

  .settings {
    padding: 2rem 0;

    .grid-block {
      margin-bottom: 10px;

      .grid-content {
        overflow: hidden;
      }
    }
  }

  .grid-block:last-child {
    margin-bottom: 0;
  }

  input[type="range"] {
    margin-top: 0.8rem;
  }
}

.sidebar-left {
  width: 330px;
  background-color: $element-background;
  border-right: 2px solid $element-divider;

}

.sidebar-right {
  background-color: $element-background;
  border-left: 2px solid $element-divider;
}

.task-bar {
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
  background-color: $element-background;
  border-top: 2px solid $element-divider;
  border-bottom: 2px solid $element-divider;
  align-items: stretch;
  flex: 0 0 percentage(1/24);

  .grid-content {
    padding: 0;
    text-align: center;

    .icon {
      color: $icon;
    }
  }
}

.task-bar-left, .task-bar-right, .task-bar-center {
  text-align: center;
  overflow: hidden;
}

.task-bar-left {
  border-right: 2px solid $element-divider;
}

.task-bar-right {
  border-left: 2px solid $element-divider;
}

.task-description {
  align-items: center;
}

.task-description-header {
  align-items: center;
  text-transform: uppercase;
  color: $headlines;
  border-bottom: 2px solid $element-inline-divider;
  cursor: pointer;
  height: 2.8rem;
  min-height: 2.8rem;
  flex: 0;
  font-weight: bold;

  .grid-content {
    overflow: hidden;
  }

  .icon {
    color: $icon;
  }

  .handle {
    padding-left: 10px;
    padding-right: 10px;
    text-transform: lowercase;
    font-weight: bold;
    color: $text;
  }
}

.task-description-placeholder {
  h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1em;
    color: rgba(213, 217, 221, 0.3);
    text-shadow: 1px 4px 6px #181d23, 0 0 0 #000, 1px 4px 6px #181d23;
    text-align: center;
    margin-top: 50%;
  }
}

.task-description-content {
  padding-top: 10px;
  color: $text;

  h1 {
    font-size: 18px;
    color: $sub-headlines;
    font-weight: bold;
  }
}

.panel {
  display: block;
  width: 300px;
  min-height: 100px;
  float: left;
}

.panel-collapse {
  display: block;
}

.timer-container {
  padding-right: 15px;
}

.thumbnail-zone {
  flex: 0 0 percentage(3/24);

  .thumbnail-zone-layer {
    background-color: $element-background;
    border-right: 2px solid $element-divider;
    box-shadow: 3px 0px 5px 0px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: percentage(3/24);
    align-items: flex-end;

    input {
      background-color: inherit;
      border-radius: 0;
    }

    .thumbnail-zone-layer-inner {
      padding-bottom: 10px;
    }

    .thumbnail-zone-zoom-label-wrapper {
      padding-left: 0;

      .thumbnail-zone-zoom-label {
        border-radius: 10px;
        background-color: #30363c;
        padding: 0 5px;
        color: $sub-headlines;
      }
    }
  }
}

.timeline-container {
  flex: 0 0 percentage(5/24);

  .timeline-layer {
    border-top: 2px solid $element-divider;
    background-color: $element-background;
    border-right: 2px solid $element-divider;
    box-shadow: 3px 0px 5px 0px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: percentage(3/24);
  }

  .timeline-inner {
    border-top: 2px solid $element-divider;
  }
}

.main {
  flex: 1 1 percentage(13/24);
  position: relative;

  .gutter {
    background: transparent no-repeat 50%;
    z-index: 1000;
  }

  .sidebar-left + .gutter {
    margin-left: -10px
  }

  viewer + .gutter {
    border-left: 2px solid $element-divider;
    margin-right: -10px;
  }

  .gutter.gutter-horizontal {
    background-image: url('../Images/drag_handle_vertical.png');
    cursor: ew-resize;
  }
}

popup-panel {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3;
  width: 300px;
  //transform: translateY(0%);
}

popup-panel.ng-hide {
  //transform: translateY(100%);
}

popup-panel.ng-hide-add {
  //transition: all linear 0.15s;
}

popup-panel.ng-hide-remove {
  //transition: all linear 0.15s;
}

.popup-panel button {
  background-color: $button;
}

.task-bar button, .header button {
  background-color: $element-background;
}

.noscrollbars::-webkit-scrollbar {
  display: none;
}

.align-self-center {
  align-self: center;
}

title-bar {
  min-height: 45px;
}

.more-space {
  margin: 1rem 2rem;
}

.cfp-hotkeys-container {
  .hotkeys {
    width: 100%;
    height: 100%;
  }

  h4.title {
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
    margin: .5em auto;
  }

  .inner-container {
    display: flex;
    width: 100vw;
    height: 90vh;
    flex-flow: column wrap;
    align-content: stretch;
    align-items: center;

    .hotkey-entry {
      width: 30vw;
      font-size: 1.2em;
      margin-bottom: 1em;
    }
  }
}

.fa.flagged {
  color: $icon-hover;
}

.system-health {
  border-radius: 50%;
  width: .7em;
  height: .7em;
  background-color: red;
  display: inline-block;
  margin-right: .2em;

  &.healthy {
    background-color: green;
  }
}

.tagDisplay {
  display: inline-block;
  line-height: 1;
  padding: 4px 5px;
  margin-left: 7px;
  text-decoration: none;
  font-size: 10px;
  font-weight: bold;
  color: #353b42;
  background-color: #bedb31;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}