$headlines: #bedb31;
$sub-headlines: #dadfe6;
$icon: #919ca9;
$icon-hover: #bedb31;
$text: #727f8f;

$element-background: #2b3036;
$element-divider: #1a1a1a;
$element-inline-divider: #232a33;
$body-background: #181d23;

$button: #30363c;
$button-selected: #353b42;

@import "bootstrap";
@import "foundation";
@import "font-awesome";
@import "fonts";
@import "label-selection-wizard";
@import "angular-range-slider";
@import "viewer";
@import "filmreel";
@import "timeline";
@import "icon-font";
@import "icons";
@import "header";
@import "minimap";

html, body {
  // Prevent overscroll
  overflow: hidden;
}

// Carefull with 'height: 100%'. This causes strange bugs with the ToolEvent.point coordinates.

.label-summary span.label-padding {
  margin-right: 2px;
}

div.viewer{
  text-align: center;
  box-shadow: inset 0 0 10px 0 #000000;
}

.sidebar-left {
  position: relative;
  background-color: $element-background;
  border-right: 1px solid $element-divider;

  div.popup-panel {
    width: 100%;
    font-size: 16px;
    position: absolute;
    left: 0;
    bottom: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: $button;
    border-top: 2px solid $element-inline-divider;

    .zoom {
      .zoom-controls {
        padding: 2rem 0;

        button {
          overflow: hidden;
        }
      }
    }

    .settings {
      padding: 2rem 0;

      .grid-block {
        margin-bottom: 10px;

        .grid-content {
          overflow: hidden;
        }
      }
    }

    .grid-block:last-child {
      margin-bottom: 0;
    }

    input[type="range"] {
      margin-top: 0.8rem;
    }
  }
}

.sidebar-right{
  background-color: $element-background;
  border-left: 1px solid $element-divider;
}

.task-bar{
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
  background-color: $element-background;
  border-top: 2px solid $element-divider;
  border-bottom: 2px solid $element-divider;
  align-items: center;
  flex: 0 0 percentage(1/24);
}


.task-bar-left, .task-bar-right, .task-bar-center{
  text-align: center;
  overflow: hidden;
}

.task-bar-left {
  border-right: 2px solid $element-divider;
}

.task-bar-right {
  border-left: 2px solid $element-divider;
}


.task-description {
  align-items: center;
}

.task-description-header{
  height: 44px;
  align-items: center;
  text-transform: uppercase;
  color: $headlines;
  border-bottom: 2px solid $element-inline-divider;
  cursor: pointer;

  .grid-content {
    overflow: hidden;
  }
  
  .icon{
    color: $text;
  }

  .handle{
    padding-left: 10px;
    padding-right: 10px;
    text-transform: lowercase;
    font-weight: bold;
    color: $text;
  }
}

.task-description-content{
  padding-top: 10px;
  font-size: 16px;

  h1 {
    font-size: 16px;
    color: $sub-headlines;
    font-weight: bold;
  }
}

.panel{
  display: block;
  width: 300px;
  min-height: 100px;
  float: left;
}

.panel-collapse{
  display: block;
}



.thumbnail-zone {
  flex: 0 0 percentage(3/24);
  border-bottom: 2px solid $element-divider;

  .thumbnail-zone-layer {
    background-color: $element-background;
    border-right: 2px solid $element-divider;
    box-shadow: 3px 0px 5px 0px rgba(0,0,0,0.5);
  }
}

.timeline-container {
  flex: 0 0 percentage(5/24);

  .timeline-layer {
    background-color: $element-background;
    border-right: 2px solid $element-divider;
    box-shadow: 3px 0px 5px 0px rgba(0,0,0,0.5);
  }
}

.main {
  flex: 1 1 percentage(13/24);
}

.popup-panel button {
  background-color: $button;
}

.task-bar button, .header button {
  background-color: $element-background;
}

button{
  background-color: inherit;
  border: 0;
}

button:focus{
  border: none;
  outline: none;
}

button:hover i{
  color: $icon-hover;
}
