<div class="grid-frame vertical">
    <div class="grid-block shrink">
        <div class="grid-content">
            <div class="title-bar">
                <span class="left"><a href="/labeling">Task List</a></span>
                <div class="center title">Exportliste</div>
                <span class="right">
                    <button ng-click="vm.handleStartExportClicked()">Start new Export</button>
                </span>
            </div>
        </div>
    </div>

    <exportlist task="vm.task"/>

</div>