<div class="header header-left grid-block noscroll">
    <div class="grid-content small-1 text-center noscroll">
        <a href="/labeling/tasks"
           tooltip="Back to task overview"
        >
            <i class="icon icon-previous"></i>
        </a>
    </div>
    <div class="grid-content text-left noscroll" as-right-click="vm.showReleaseInformation()">
        <span ng-show="vm.releaseInformation === null">
            <span ng-switch on="vm.task.taskType">
                <span ng-switch-when="meta-labeling">Meta labeling:</span>
                <span ng-switch-when="object-labeling">Object labeling:</span>
                <span ng-switch-default>Unknown:</span>
            </span>
            {{vm.video.name}}
            [ {{vm.task.frameRange.startFrameNumber}} - {{vm.task.frameRange.endFrameNumber}} ]
        </span>
        <span ng-show="vm.releaseInformation !== null">
            Revision: {{vm.releaseInformation.revision}}
        </span>
    </div>
    <div class="grid-block header-right shrink noscroll">
        <timer class="grid-content text-right header-timer shrink noscroll"
               task="vm.task"
               user="vm.user"></timer>

        <div class="grid-content text-left shrink noscroll">
            <button>
                <i class="icon no-hover icon-general-timer"></i>
            </button>
            <button ng-click="vm.finishLabelingTask()"
                    tooltip="Finish the active task"
                    style="margin-left: -.7rem;"
            >
                <i class="icon icon-ok"></i>
            </button>
        </div>

        <!--<div class="grid-content shrink noscroll">-->
            <!--<button>-->
                <!--<i class="icon icon-help"></i>-->
            <!--</button>-->
        <!--</div>-->

        <!--<div class="grid-content shrink noscroll">-->
            <!--<button>-->
                <!--<i class="icon icon-general-chat"></i>-->
            <!--</button>-->
        <!--</div>-->

        <div class="grid-content text-center shrink noscroll">
            <button ui-sref="labeling.userprofile">
                {{vm.user.username}}
            </button>
        </div>

        <div class="grid-content shrink noscroll">
            <button ng-click="vm.handleLogoutClick()"
                    tooltip="Logout / Leave application"
            >
                <i class="icon icon-general-loggedin"></i>
            </button>
        </div>
    </div>
</div>
