<div class="header header-left grid-block noscroll">
    <div class="grid-content small-1 text-center noscroll">
        <a tooltip="Back to task overview"
           class="dropdown-button"
           ng-click="vm.goBackToTasksList()"
        >
            <i class="icon icon-previous"></i>
        </a>
    </div>
    <task-title class="grid-block noscroll"
                task-type="vm.task.taskType"
                name="vm.video.name"
                frame-number-limits="vm.frameNumberLimits"
                label-instruction="vm.task.labelInstruction"
    ></task-title>
    <div class="grid-block text-center noscroll" ng-show="vm.shapeBounds">
        <span class="align-self-center">{{vm.shapeBounds}}</span>
    </div>
    <div class="grid-block header-right shrink noscroll">
        <live-sync-indicator ng-if="vm.featureFlags.pouchdb === true"
                             class="grid-content">
        </live-sync-indicator>
        <timer class="grid-block text-right header-timer shrink noscroll"
               task="vm.task"
               user="vm.user"
               read-only="{{vm.readOnly}}"
               ng-hide="true"
        ></timer>

        <div class="grid-content text-left shrink noscroll">
            <badge class="grid-block noscroll" label="vm.incompleteCount">
                <button ng-hide="vm.task.getStatusForPhase(vm.taskPhase) === 'labeled'"
                        ng-click="vm.finishLabelingTask()"
                        tooltip="Finish the active task"
                        style="margin-left: -.7rem;"
                >
                    <i class="icon icon-ok" ng-class="{'disabled': vm.incompleteCount}"></i>
                </button>
                <button ng-show="vm.userPermissions.canViewReopenButton && vm.task.getStatusForPhase(vm.taskPhase) === 'labeled'"
                        ng-click="vm.reOpenLabelingTask()"
                        tooltip="Reopen this task for Labelers"
                        style="margin-left: -.7rem;"
                >
                    <i class="icon-fa fa fa-lg fa-pencil-square-o"></i>
                </button>
            </badge>
        </div>

        <!--<div class="grid-content shrink noscroll">-->
        <!--<button>-->
        <!--<i class="icon icon-help"></i>-->
        <!--</button>-->
        <!--</div>-->

        <!--<div class="grid-content shrink noscroll">-->
        <!--<button>-->
        <!--<i class="icon icon-general-chat"></i>-->
        <!--</button>-->
        <!--</div>-->

        <user-name class="grid-block noscroll" user="vm.user"></user-name>

        <logout-button class="grid-block noscroll"></logout-button>
    </div>
</div>
