<div class="modal-header">
    <div class="modal-title">{{title}}</div>
</div>
<div class="modal-body noscrollbars">
    <h3 class="modal-body-headline">{{headline}}</h3>
    <p class="modal-body-content">{{message}}</p>
    <div class="grid-block">
        <table class="table formular-table">
            <tr>
                <td>Name</td>
                <td>
                    <input type="text" ng-model="userInput" placeholder="Organisation name"
                           ng-class="{error: userInput.length && userInput.length > maxLength}">
                </td>
                <td>
                    <span class="grid-content shrink character-count">{{userInput.length || 0}}/{{maxLength}}</span>
                </td>
            </tr>
            <tr>
                <td>Video/Image Quota</td>
                <td>
                    <input type="text" ng-model="quota">
                </td>
                <td>
                    <select ng-model="unit">
                        <option value="mb">MB</option>
                        <option value="gb">GB</option>
                        <option value="tb">TB</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>User Quota</td>
                <td>
                    <input type="text" ng-model="userQuota">
                </td>
                <td></td>
            </tr>
        </table>
    </div>
</div>
<div class="modal-footer grid-block">
    <!-- Abortable Dialog -->
    <button ng-if="isAbortable" class="modal-button-cancel grid-content small-12" ng-click="cancelCallback()">
        {{cancelButtonText}}
    </button>
    <button ng-if="isAbortable"
            class="modal-button-confirm grid-content small-12"
            ng-click="(userInput && userInput.length < maxLength && userInput.length > 1) && confirmCallback({name: userInput, quota: quota, unit: unit, userQuota: userQuota})"
            autofocus
    >
        {{confirmButtonText}}
    </button>

    <!-- Non abortable Dialog -->
    <button ng-if="!isAbortable"
            class="modal-button-confirm grid-content text-center"
            ng-click="(userInput && userInput.length < maxLength && userInput.length > 1) && confirmCallback({name: userInput, quota: quota, unit: unit, userQuota: userQuota})"
            autofocus
    >
        {{confirmButtonText}}
    </button>
</div>
