<div class="grid-frame vertical">
    <title-bar class="grid-block noscroll header"
               user="vm.user"
               user-permissions="vm.userPermissions"
               back-link="labeling.projects"
               back-link-text="Back to project list"
               show-username="true"
               show-logout-button="true"
    >
    </title-bar>

    <loading-mask ng-if="vm.loadingInProgress" spinner="true"></loading-mask>
    <div class="grid-block vertical">
        <page-title title="Available Project Exports"></page-title>
        <div class="grid-block vertical">
            <div class="grid-block align-right shrink">
                <div class="grid-block horizontal shrink">
                    <div class="grid-content noscroll"
                         style="margin-bottom: .5rem; margin-top: 2rem;">
                        <button tooltip="Start new Export"
                                ng-click="vm.startExport()"
                        >
                            <i class="fa fa-plus"></i>&nbsp;Start new Export
                        </button>
                    </div>
                </div>
            </div>
            <project-export-list exports="vm.exports" project="vm.project" class="grid-block"></project-export-list>
        </div>
    </div>
</div>