<div class="grid-frame vertical">
    <title-bar class="grid-block noscroll header"
               user="vm.user"
               user-permissions="vm.userPermissions"
               back-link="labeling.projects"
               back-link-text="Back to project list"
               show-username="true"
               show-logout-button="true"
    >
        <a class="header-button" ng-click="vm.startReport()">Start new Report</a>
    </title-bar>

    <loading-mask ng-if="vm.loadingInProgress" spinner="true"></loading-mask>
    <project-report-list reports="vm.reports" project="vm.project" class="grid-block"></project-report-list>

</div>