<div class="grid-frame vertical">
    <title-bar class="grid-block noscroll header"
               user="vm.user"
               user-permissions="vm.userPermissions"
               back-link="labeling.projects"
               back-link-text="Back to project list"
               show-username="true"
               show-logout-button="true"
    >
    </title-bar>

    <div class="grid-content">
        <h1>Report for Project: {{vm.project.name}}
            <small ng-switch="vm.project.projectStatus">
                <span ng-switch-when="done">Done</span>
                <span ng-switch-when="in_progress">In Progress</span>
                <span ng-switch-default>{{vm.project.projectStatus}}</span>
            </small>
        </h1>
        <h3 style="margin-top: 1.2rem">Report created: {{vm.report.reportCreationDate * 1000 | date: 'yyyy-MM-dd H:mm:ss' }}</h3>

        <hr />

        <h2 style="margin-top: 1.6rem">Project Status</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Phase</th>
                <th>Date</th>
                <th>User</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Created</td>
                <td>{{vm.report.projectCreatedAt * 1000 | date: 'yyyy-MM-dd H:mm:ss' }}</td>
                <td>{{vm.report.projectCreatedBy}}</td>
            </tr>
            <tr ng-if="vm.report.projectMovedToInProgressAt != null">
                <td>In Progress</td>
                <td>{{vm.report.projectMovedToInProgressAt * 1000 | date: 'yyyy-MM-dd H:mm:ss' }}</td>
                <td>{{vm.report.projectMovedToInProgressBy}}</td>
            </tr>
            <tr ng-if="vm.report.projectMovedToDoneAt != null">
                <td>Done</td>
                <td>{{vm.report.projectMovedToDoneAt * 1000 | date: 'yyyy-MM-dd H:mm:ss' }}</td>
                <td>{{vm.report.projectMovedToDoneBy}}</td>
            </tr>
            </tbody>
        </table>

        <h2 style="margin-top: 1.6rem">Labeling Process Details</h2>
        <table class="table">
            <thead>
            <tr>
                <th colspan="3">Labeling</th>
                <th colspan="3">Review</th>
                <th colspan="3">Revision</th>
            </tr>
            <tr>
                <th>Todo</th>
                <th>In Progress</th>
                <th>Done</th>
                <th>Todo</th>
                <th>In Progress</th>
                <th>Done</th>
                <th>Todo</th>
                <th>In Progress</th>
                <th>Done</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{vm.report.numberOfToDoTasks}}</td>
                <td>{{vm.report.numberOfInProgressTasks}}</td>
                <td>{{vm.report.numberOfDoneTasks}}</td>
                <td>{{vm.report.numberOfToDoReviewTasks}}</td>
                <td>{{vm.report.numberOfInProgressReviewTasks}}</td>
                <td>{{vm.report.numberOfDoneReviewTasks}}</td>
                <td>{{vm.report.numberOfToDoRevisionTasks}}</td>
                <td>{{vm.report.numberOfInProgressRevisionTasks}}</td>
                <td>{{vm.report.numberOfDoneRevisionTasks}}</td>
            </tr>
            </tbody>
        </table>

        <h2 style="margin-top: 1.6rem">Label Statistics</h2>
        <h3 style="margin-top: 1.2rem">Basic</h3>
        <table class="table">
            <thead>
            <tr>
                <th>Statistics</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Number of Videos</td>
                <td>{{vm.report.numberOfVideosInProject}}</td>
            </tr>
            <tr>
                <td>Number of Tasks</td>
                <td>{{vm.report.numberOfTasksInProject}}</td>
            </tr>
            <tr>
                <td>Number of Object Frames</td>
                <td>{{vm.report.numberOfLabeledThingInFrames}}</td>
            </tr>
            <tr>
                <td>Number of Objects</td>
                <td>{{vm.report.numberOfLabeledThings}}</td>
            </tr>
            <tr>
                <td>Number of Attribute Frames</td>
                <td>{{vm.report.numberOfLabeledThingInFrameClasses}}</td>
            </tr>
            <tr>
                <td>Number of Attributes</td>
                <td>{{vm.report.numberOfLabeledThingClasses}}</td>
            </tr>
            </tbody>
        </table>

        <h3 style="margin-top: 1.2rem">Objects by Class</h3>
        <table class="table">
            <thead>
            <tr>
                <th>Attribute Class</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(classname, value) in vm.report.numberOfTotalClassesInLabeledThingInFrameByClasses track by $index">
                    <td>{{classname}}</td>
                    <td>{{value}}</td>
                </tr>
            </tbody>
        </table>

        <h3 style="margin-top: 1.2rem">Time spent</h3>
        <table class="table">
            <thead>
            <tr>
                <th>Phase</th>
                <th>Time</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Labeling</td>
                <td>{{vm.report.totalLabelingTime | readableTimespan}}</td>
            </tr>
            <tr>
                <td>Review</td>
                <td>{{vm.report.totalReviewTime | readableTimespan}}</td>
            </tr>
            <tr>
                <td>Revision</td>
                <td>{{vm.report.totalRevisionTime | readableTimespan}}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td style="text-align: left;">Sum</td>
                <td style="text-align: left;">{{vm.report.totalTime | readableTimespan}}</td>
            </tr>
            </tfoot>
        </table>

        <h3 style="margin-top: 1.2rem">Averages</h3>
        <table class="table">
            <thead>
            <tr>
                <th>Average</th>
                <th>Value</th>
            </tr>
            <tr>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Average Time per Video</td>
                <td>{{vm.report.averageTimePerVideo | readableTimespan}}</td>
            </tr>
            <tr>
                <td>Average Time per Video Frame</td>
                <td>{{vm.report.averageTimePerVideoFrame | readableTimespan}}</td>
            </tr>
            <tr>
                <td>Average Time per Object Frame</td>
                <td>{{vm.report.averageTimePerLabeledThingInFrame}}s</td>
            </tr>
            <tr>
                <td>Average Time per Object</td>
                <td>{{vm.report.averageTimePerLabeledThing}}s</td>
            </tr>
            <tr>
                <td>Average Object Frames per Video Frame</td>
                <td>{{vm.report.averageLabeledThingInFramesPerVideoFrame}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
