<page-title title="Project Exports">
    <back-link state-link="labeling.projects"
               tooltip="Back to project list"
    ></back-link>
</page-title>

<div class="page-content">
    <loading-mask ng-if="vm.loadingInProgress" spinner="true"></loading-mask>
    <project-report-list reports="vm.reports" project="vm.project" class="grid-block"></project-report-list>
    <div class="button-area">
        <button class="pull-right"
                ng-click="vm.startReport()"
        >
            Start new Report
        </button>
    </div>
</div>