{
  "registry": "jspm",
  "endpoints": {
    "github": {
      "timeouts": {
        "lookups": 60
      },
      "remote": "https://github.jspm.io",
      "auth": "bWFudGl6OmMxYWI4NWM5OWEyMDAzNWUyZmFjMGJlYTkzY2QzZThjODA4ZTVlMGQ=",
      "maxRepoSize": 0,
      "handler": "jspm-github"
    },
    "npm": {
      "timeouts": {
        "lookups": 60
      },
      "handler": "jspm-npm",
      "remote": "https://npm.jspm.io"
    },
    "jspm": {
      "timeouts": {
        "lookups": 60
      },
      "handler": "jspm-registry",
      "remote": "https://registry.jspm.io"
    }
  },
  "defaultRegistry": "jspm",
  "registries": {
    "github": {
      "timeouts": {
        "lookups": 60
      },
      "handler": "jspm-github",
      "remote": "https://github.jspm.io",
      "auth": "3f351b2d81725895bf1d18b65fd85d229a64b758"
    },
    "npm": {
      "timeouts": {
        "lookups": 60
      },
      "handler": "jspm-npm",
      "remote": "https://npm.jspm.io"
    },
    "jspm": {
      "timeouts": {
        "lookups": 60
      },
      "handler": "jspm-registry",
      "remote": "https://registry.jspm.io"
    }
  }
}
